
<floor ng-if="vm.floor" class="floor-{{vm.floor}}"><span class="floor-label"><span class="label bg-primary fs30">{{vm.floor}}th Floor</span></span>
  <ed-desk ng-repeat="desk in vm.desks" floor="{{desk.floor}}" seat="{{desk.seat}}" orientation="{{desk.orientation}}" classification="{{desk.classification}}" xpos="{{desk.xpos}}" ypos="{{desk.ypos}}"></ed-desk>
  <ed-room ng-repeat="room in vm.rooms" floor="{{room.floor}}" name="{{room.name}}" location="{{room.location}}" number="{{room.number}}" classification="{{room.classification}}" xpos="{{room.xpos}}" ypos="{{room.ypos}}"></ed-room>
</floor>