
<div ng-if="!vm.mappedEmployee || vm.unknownLocationEmployee" class="center-block">
  <div class="panel panel-primary">
    <div ng-if="!vm.mappedEmployee" class="panel-body text-center">
      <div class="fa fa-map-marker fs100 mb30 location-color"></div>
      <div class="fs20">Select a person to view their desk location</div>
    </div>
    <div ng-if="vm.unknownLocationEmployee" class="panel-body text-center">
      <div class="fa fa-question fs100 mb30 location-color"></div>
      <div class="fs20">I'm not sure where {{vm.mappedEmployee.firstName}} sits... Pick someone else!</div>
    </div>
  </div>
</div>