.mw1000.center-block(ng-if="vm.selectedEmployees.length < 1 || vm.unknownLocationEmployee")
    .panel.panel-primary
        .panel-body.text-center(ng-if="vm.selectedEmployees.length < 1")
            .fa.fa-map-marker.fs100.mb30
            div.fs20 Select a person to view their desk location
        .panel-body.text-center(ng-if="vm.unknownLocationEmployee")
            .fa.fa-question.fs100.mb30
            div.fs20 I'm not sure where {{vm.selectedEmployees[0].name.firstName}} sits... Pick someone else!
floor(class="floor-{{vm.floor}}", ng-if="vm.floor")
    ed-desk(ng-repeat="desk in vm.desks" floor="{{desk.floor}}" seat="{{desk.seat}}" orientation="{{desk.orientation}}" classification="{{desk.classification}}" xpos="{{desk.xpos}}" ypos="{{desk.ypos}}")
