.topbar-left
    ul.nav.nav-list.nav-list-topbar.birthdays-topbar
        li(ui-sref-active-eq="active")
            a(ui-sref="birthdays") Birthdays
        li(ui-sref-active-eq="active")
            a(ui-sref="birthdays.month({month: 'january'})") Jan
        li(ui-sref-active-eq="active")
            a(ui-sref="birthdays.month({month: 'february'})") Feb
        li(ui-sref-active-eq="active")
            a(ui-sref="birthdays.month({month: 'march'})") Mar
        li(ui-sref-active-eq="active")
            a(ui-sref="birthdays.month({month: 'april'})") Apr
        li(ui-sref-active-eq="active")
            a(ui-sref="birthdays.month({month: 'may'})") May
        li(ui-sref-active-eq="active")
            a(ui-sref="birthdays.month({month: 'june'})") Jun
        li(ui-sref-active-eq="active")
            a(ui-sref="birthdays.month({month: 'july'})") Jul
        li(ui-sref-active-eq="active")
            a(ui-sref="birthdays.month({month: 'august'})") Aug
        li(ui-sref-active-eq="active")
            a(ui-sref="birthdays.month({month: 'september'})") Sep
        li(ui-sref-active-eq="active")
            a(ui-sref="birthdays.month({month: 'october'})") Oct
        li(ui-sref-active-eq="active")
            a(ui-sref="birthdays.month({month: 'november'})") Nov
        li(ui-sref-active-eq="active")
            a(ui-sref="birthdays.month({month: 'december'})") Dec