
<div class="topbar-left">
  <ul class="nav nav-list nav-list-topbar birthdays-topbar">
    <li ui-sref-active-eq="active"><a ui-sref="birthdays">Birthdays</a></li>
    <li ui-sref-active-eq="active"><a ui-sref="birthdays.month({month: 'january'})">Jan</a></li>
    <li ui-sref-active-eq="active"><a ui-sref="birthdays.month({month: 'february'})">Feb</a></li>
    <li ui-sref-active-eq="active"><a ui-sref="birthdays.month({month: 'march'})">Mar</a></li>
    <li ui-sref-active-eq="active"><a ui-sref="birthdays.month({month: 'april'})">Apr</a></li>
    <li ui-sref-active-eq="active"><a ui-sref="birthdays.month({month: 'may'})">May</a></li>
    <li ui-sref-active-eq="active"><a ui-sref="birthdays.month({month: 'june'})">Jun</a></li>
    <li ui-sref-active-eq="active"><a ui-sref="birthdays.month({month: 'july'})">Jul</a></li>
    <li ui-sref-active-eq="active"><a ui-sref="birthdays.month({month: 'august'})">Aug</a></li>
    <li ui-sref-active-eq="active"><a ui-sref="birthdays.month({month: 'september'})">Sep</a></li>
    <li ui-sref-active-eq="active"><a ui-sref="birthdays.month({month: 'october'})">Oct</a></li>
    <li ui-sref-active-eq="active"><a ui-sref="birthdays.month({month: 'november'})">Nov</a></li>
    <li ui-sref-active-eq="active"><a ui-sref="birthdays.month({month: 'december'})">Dec</a></li>
  </ul>
</div>