.row
    .col-md-4
        a.boxed-link.text-center(ui-sref="employees.profile")
            .fa.fa-users.fs100.mb30.profile-color
            h4 Employee Profiles
    .col-md-4
        a.boxed-link.text-center(ui-sref="employees.map")
            .fa.fa-map-marker.fs100.mb30.location-color
            h4 Employee Location
    .col-md-4
        a.boxed-link.text-center(ui-sref="employees.org-chart")
            .fa.fa-sitemap.fs100.mb30.profile-color
            h4 Organization Chart