
<div class="row">
  <div class="col-md-4"><a ui-sref="employees.profile" class="boxed-link text-center">
      <div class="fa fa-users fs100 mb30 profile-color"></div>
      <h4>Employee Profiles</h4></a></div>
  <div class="col-md-4"><a ui-sref="employees.map" class="boxed-link text-center">
      <div class="fa fa-map-marker fs100 mb30 location-color"></div>
      <h4>Employee Location</h4></a></div>
  <div class="col-md-4"><a ui-sref="employees.org-chart" class="boxed-link text-center">
      <div class="fa fa-sitemap fs100 mb30 profile-color"></div>
      <h4>Organization Chart</h4></a></div>
</div>