.row
    .col-md-4.col-xl-2
        a.boxed-link.text-center(ui-sref="employees.profile")
            .fa.fa-user.fs100.profile-color
            h4 Employee Profiles
    .col-md-4.col-xl-2
        a.boxed-link.text-center(ui-sref="employees.map")
            .fa.fa-map-marker.fs100.location-color
            h4 Employee Location
    .col-md-4.col-xl-2
        a.boxed-link.text-center(ui-sref="employees.org-chart")
            .fa.fa-sitemap.fs100.profile-color
            h4 Organization Chart