
<footer id="content-footer" class="affix">
  <div class="row">
    <div class="col-xs-6">
      <ul class="footer-help-links">
        <li><span class="footer-legal">&copy; 2016 &nbsp;<a ui-sref="employees.profile.employee({employee: 1209624})">The Maestro</a></span></li>
        <li><a ui-sref="help">Help</a></li>
        <li ng-if="!vm.identity.isAuthenticated()"><a ui-sref="admin">Login</a></li>
        <li ng-if="vm.identity.isAuthenticated()"><a ui-sref="admin" ng-click="vm.signout()">Logout</a></li>
      </ul>
    </div>
    <!--.col-xs-6.text-right
    a.footer-return-top(href="#main", du-smooth-scroll)
        span.fa.fa-arrow-up
    -->
  </div>
</footer>