.topbar-left
    ul.nav.nav-list.nav-list-topbar
        li
            a(ui-sref="employees") Employees
        li
            a(ui-sref="rooms") Rooms
        li
            a(ui-sref="printers") Printers
        li
            a(ui-sref="committees") Liazon Committees
        li
            a(ui-sref="guilds") Developer Guilds