aside#sidebar_left.nano.nano-light.sidebar-default.affix(ng-class="{'sidebar-left-sm': !vm.sidebarOpen}")
    .sidebar-left-content.nano-content(ed-nanoscroller)
        .sidebar-left-toggle(ng-click="vm.toggleSidebar()", ng-class="{'sidebar-locked' : vm.sidebarLocked}")
            span.fa.fa-bars
        ul.nav.sidebar-menu(ng-click="vm.closeSidebar()")
            li(ui-sref-active="active")
                a(ui-sref="employees.profile")
                    span.fa.fa-users
                    span.sidebar-title Employee Profiles
            li.location-item(ui-sref-active="active")
                a(ui-sref="employees.map")
                    span.fa.fa-map-marker
                    span.sidebar-title Employee Location
            li(ui-sref-active="active")
                a(ui-sref="employees.org-chart")
                    span.fa.fa-sitemap
                    span.sidebar-title Organization Chart
        ul.nav.sidebar-menu(ng-click="vm.closeSidebar()")
            li(ui-sref-active="active")
                a(ui-sref="rooms.profile")
                    span.fa.fa-building-o
                    span.sidebar-title Room Profiles
            li.location-item(ui-sref-active="active")
                a(ui-sref="rooms.map")
                    span.fa.fa-map-marker
                    span.sidebar-title Room Location
        ul.nav.sidebar-menu(ng-click="vm.closeSidebar()")
            li(ui-sref-active="active")
                a(ui-sref="printers.profile")
                    span.icon-print
                    span.sidebar-title Printer Profiles
            li.location-item(ui-sref-active="active")
                a(ui-sref="printers.map")
                    span.fa.fa-map-marker
                    span.sidebar-title Printer Location
        ul.nav.sidebar-menu(ng-click="vm.closeSidebar()")
            li(ui-sref-active="active", ng-if="vm.identity.isAuthorized('admin')")
                a(ui-sref="admin.create-employee")
                    span.fa.fa-user-plus
                    span.sidebar-title Create Employee
            li(ui-sref-active="active", ng-if="vm.identity.isAuthorized('admin')")
                a(ui-sref="admin.update-employee")
                    span.fa.fa-pencil-square-o
                    span.sidebar-title Update Employee
            li.location-item(ui-sref-active="active", ng-if="vm.identity.isAuthorized('admin')")
                a(ui-sref="admin.seat-picker")
                    span.fa.fa-map-marker
                    span.sidebar-title Seat Assignment
            li(ui-sref-active="active", ng-if="vm.identity.isAuthorized('super-admin')")
                a(ui-sref="admin.users")
                    span.fa.fa-user
                    span.sidebar-title User List
            li(ui-sref-active="active", ng-if="vm.identity.isAuthorized('super-admin')")
                a(ui-sref="admin.create-user")
                    span.fa.fa-plus-square
                    span.sidebar-title Create User
            li(ui-sref-active="active", ng-if="vm.identity.isAuthenticated()")
                a(ui-sref="admin.update-user")
                    span.fa.fa-pencil-square
                    span.sidebar-title Update User
aside#sidebar_left_secondary.nano.nano-content.sidebar-default.affix
    .sidebar-left-content.nano-content
        span.sidebar-return-top(ng-click="vm.scrollSidebarTop()")
            span.fa.fa-arrow-up
        div.sidebar-view(ui-view="sidebar")