
<aside id="sidebar_left" ng-class="{'sidebar-left-sm': !vm.sidebarOpen}" class="nano nano-light sidebar-default affix">
  <div ed-nanoscroller="ed-nanoscroller" class="sidebar-left-content nano-content">
    <div ng-click="vm.toggleSidebar()" ng-class="{'sidebar-locked' : vm.sidebarLocked}" class="sidebar-left-toggle"><span class="fa fa-bars"></span></div>
    <ul ng-click="vm.closeSidebar()" class="nav sidebar-menu">
      <li ui-sref-active="active"><a ui-sref="employees.profile"><span class="fa fa-users"></span><span class="sidebar-title">Employee Profiles</span></a></li>
      <li ui-sref-active="active" class="location-item"><a ui-sref="employees.map"><span class="fa fa-map-marker"></span><span class="sidebar-title">Employee Location</span></a></li>
      <li ui-sref-active="active"><a ui-sref="employees.org-chart"><span class="fa fa-sitemap"></span><span class="sidebar-title">Organization Chart</span></a></li>
    </ul>
    <ul ng-click="vm.closeSidebar()" class="nav sidebar-menu">
      <li ui-sref-active="active"><a ui-sref="rooms.profile"><span class="fa fa-building-o"></span><span class="sidebar-title">Room Profiles</span></a></li>
      <li ui-sref-active="active" class="location-item"><a ui-sref="rooms.map"><span class="fa fa-map-marker"></span><span class="sidebar-title">Room Location</span></a></li>
    </ul>
    <ul ng-click="vm.closeSidebar()" class="nav sidebar-menu">
      <li ui-sref-active="active"><a ui-sref="printers.profile"><span class="icon-print"></span><span class="sidebar-title">Printer Profiles</span></a></li>
      <li ui-sref-active="active" class="location-item"><a ui-sref="printers.map"><span class="fa fa-map-marker"></span><span class="sidebar-title">Printer Location</span></a></li>
    </ul>
    <ul ng-click="vm.closeSidebar()" class="nav sidebar-menu">
      <li ui-sref-active="active" ng-if="vm.identity.isAuthorized('admin')"><a ui-sref="admin.create-employee"><span class="fa fa-user-plus"></span><span class="sidebar-title">Create Employee</span></a></li>
      <li ui-sref-active="active" ng-if="vm.identity.isAuthorized('admin')"><a ui-sref="admin.update-employee"><span class="fa fa-pencil-square-o"></span><span class="sidebar-title">Update Employee</span></a></li>
      <li ui-sref-active="active" ng-if="vm.identity.isAuthorized('admin')" class="location-item"><a ui-sref="admin.seat-picker"><span class="fa fa-map-marker"></span><span class="sidebar-title">Seat Assignment</span></a></li>
      <li ui-sref-active="active" ng-if="vm.identity.isAuthorized('super-admin')"><a ui-sref="admin.create-user"><span class="fa fa-plus-square"></span><span class="sidebar-title">Create User</span></a></li>
      <li ui-sref-active="active" ng-if="vm.identity.isAuthorized('super-admin')"><a ui-sref="admin.update-user"><span class="fa fa-pencil-square"></span><span class="sidebar-title">Update User</span></a></li>
    </ul>
  </div>
</aside>
<aside id="sidebar_left_secondary" class="nano nano-content sidebar-default affix">
  <div class="sidebar-left-content nano-content"><span ng-click="vm.scrollSidebarTop()" class="sidebar-return-top"><span class="fa fa-arrow-up"></span></span>
    <div ui-view="sidebar" class="sidebar-view"></div>
  </div>
</aside>