.row
    .col-md-4.col-xl-2
        a.boxed-link.text-center(ui-sref="rooms.profile")
            .fa.fa-building-o.fs100.profile-color
            h4 Room Profiles
    .col-md-4.col-xl-2
        a.boxed-link.text-center(ui-sref="rooms.map")
            .fa.fa-map-marker.fs100.location-color
            h4 Room Location