.topbar-left
    ul.nav.nav-list.nav-list-topbar.guilds-topbar
        li(ui-sref-active-eq="active")
            a(ui-sref="guilds") Guilds
        li.guild-front-end-tab(ui-sref-active="active")
            a(ui-sref="guilds.front-end") Front-End
