.topbar-left
    ul.nav.nav-list.nav-list-topbar.guilds-topbar
        li(ui-sref-active-eq="active")
            a(ui-sref="guilds") Guilds
        li(ui-sref-active="active")
            a(ui-sref="guilds.front-end") Front-End
        li(ui-sref-active="active")
            a(ui-sref="guilds.architecture ") Architecture
        li(ui-sref-active="active")
            a(ui-sref="guilds.quality") Quality