div.mw1000.center-block
    div.panel.br-t.bw5.br-grey
        div.panel-body.pn
            div.p25.br-b
                h2.fw200.mb20.mt10 Help with the Liazon Directory
            div.p25.bg-light
                ul.fs15.list-divide-items
                    li
                        a.link-unstyled(ui-sref="help.navigation") Navigation
                    li
                        a.link-unstyled(ui-sref="help.profile") Profile
                    li
                        a.link-unstyled(ui-sref="help.location") Location
                    li
                        a.link-unstyled(ui-sref="help.org-chart") Org Chart