@import nib

.admin-form .button + .button
  margin-left 10px

form .gui-input-mod
  border 1px solid #DDD
  border-radius 3px
  color #626262
  display inline-block
  height 42px
  outline none
  padding 10px
  position relative
  vertical-align top
  width 100%

.admin-form .section.test
  position relative

  label
  input.ng-dirty.ng-invalid-required + label
    color #aaa
    position absolute
    z-index 1
    top 12px
    left 11px
    transition all 0.3s ease

  input.ng-dirty + label
  input:focus + label
    font-size 13px
    top -15px

.admin-form .section .moment-picker .moment-picker-container
  margin-top 26px