.admin-form .button + .button {
  margin-left: 10px;
}
form .gui-input-mod {
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #626262;
  display: inline-block;
  height: 42px;
  outline: none;
  padding: 10px;
  position: relative;
  vertical-align: top;
  width: 100%;
}
.admin-form .section.test {
  position: relative;
}
.admin-form .section.test label,
.admin-form .section.test input.ng-dirty.ng-invalid-required + label {
  color: #aaa;
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 11px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.admin-form .section.test input.ng-dirty + label,
.admin-form .section.test input:focus + label {
  font-size: 13px;
  top: -15px;
}
