/*********************************
Artifacts
*********************************/
artifact
  border 1px solid transparent
  box-sizing border-box
  display table
  position absolute
  white-space nowrap

  .artifact
    display table-cell
    text-align center
    vertical-align middle

    span
      text-align center
      text-transform capitalize

  &.no-label .artifact
    display none

  &.vert .artifact
    position absolute
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%) rotate(90deg)

  &.north-stair-6,
  &.north-stair-7,
  &.north-stair-8
    height 176px
    width 77px

  &.south-stair-6,
  &.south-stair-7,
  &.south-stair-8
    height 71px
    width 170px

  &.lobby-6
    height 192px
    width 89px

  &.kitchen-6
    height 182px
    width 73px

  &.storage-6-1
    height 82px
    width 73px

  &.storage-6-2
    height 108px
    width 56px

  &.mens-room-6,
  &.womens-room-6
    height 263px
    width 90px

  &.mens-room-6
    background transparent url('/images/mens-room.svg') left top no-repeat
    background-size 32px 32px

  &.womens-room-6
    background transparent url('/images/womens-room.svg') right top no-repeat
    background-size 32px 32px

  &.observation-6-1,
  &.observation-6-2
    height 108px
    width 67px

  &.liazon-cafe
    //background-image url('/images/liazon-directory.svg')
    height 91px
    width 216px

  &.server-room-7
    height 118px
    width 103px

  &.storage-7-1
    height 84px
    width 49px

  &.storage-7-2
    height 36px
    width 82px

  &.office-supplies-7
    height 32px
    width 117px

  &.mens-room-7,
  &.womens-room-7,
  &.mens-room-8,
  &.womens-room-8
    height 91px
    width 287px

  &.mens-room-7,
  &.mens-room-8
    background transparent url('/images/mens-room.svg') left bottom no-repeat
    background-size 32px 32px

  &.womens-room-7,
  &.womens-room-8
    background transparent url('/images/womens-room.svg') left top no-repeat
    background-size 32px 32px

  &.lobby-7
    height 187px
    width 136px

  &.stairs-7,
  &.stairs-8
    height 59px
    width 59px

  &.lobby-8
    height 298px
    width 131px

  &.storage-8-1
    height 59px
    width 91px

  &.storage-8-2
    height 29px
    width 214px

  &.storage-8-3
    height 73px
    width 94px