birthdays-color = #37bc9b

.birthdays-color
  color birthdays-color

#topbar .nav.nav-list-topbar.birthdays-topbar li a:before
  background-color birthdays-color

.current-month
  background-color birthdays-color

  h4
    color #fff

.birthdays

  .birthday
    background-color #ddd
    font-weight bold
    margin-top 6px
    padding 5px 0

    div
      font-size 1.25em