body
  background #fafafa url('images/content_inner_bg.png')
  font-family 'Open Sans', Helvetica, Arial, sans-serif
  padding-top 60px

.navbar
  background-color #fff
  border-radius 0
  border 0
  box-shadow 0 1px 0 0 #e0e0e0
  color #666
  height 60px
  margin-bottom 0

.navbar.navbar-shadow
  box-shadow 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 2px 0px 0px rgba(0, 0, 0, 0.02)

.navbar-branding
  position relative
  overflow hidden
  float left
  width 250px
  height 60px
  margin-right 10px
  background-color transparent

.navbar-branding .navbar-brand
  color #666
  height 60px
  line-height 58px
  padding 0
  padding-left 18px
  font-size 17px
  font-weight 400
  letter-spacing 0.5px

#sidebar-left
  background-color #4c4a49
  color #fff
  font-size 13px
  position absolute
  top 0
  left 0
  width 250px
  min-height 100%
  padding-top 60px

#page-content-wrapper
  padding-left 250px

  > .page-content
    padding-top 30px

ul.employee-selector
  margin-bottom 0
  padding-left 0
  list-style none

  li
    border-top 1px solid rgba(255,255,255,.05);
    display block
    height 37px
    line-height 37px
    
    &:last-child
      border-bottom 1px solid rgba(255,255,255,.05);

    > i
      line-height 37px
      padding-left 13px
      text-align center
      width 38px

    span
      line-height 37px
      padding-left 6px

  .selected
    color #f00
