.org-chart
  max-width 850px

  ul

    &.employee li
      margin-bottom 0
      width 200px

      > img,
      > span.fa
        height 100%
        width 100%

      > span.fa
        line-height 150px

    &.manager li
      margin-bottom 0

    &.direct-reports
      background-color #ddd
      border-radius 3px
      display inline-block

      li
        margin 10px