.org-chart {
  max-width: 850px;
}
.org-chart ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.org-chart ul li {
  background-color: #fff;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  padding: 6px;
  text-align: center;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
  vertical-align: top;
  width: 200px;
}
.org-chart ul li > img,
.org-chart ul li > span.fa {
  width: 100%;
}
.org-chart ul li > span.fa {
  line-height: 150px;
}
.org-chart ul li:hover {
  background-color: #f5f5f5;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
}
.org-chart ul.manager li,
.org-chart ul.direct-reports li {
  width: 150px;
}
.org-chart ul.manager li > img,
.org-chart ul.direct-reports li > img {
  height: 130px;
}
.org-chart ul.manager li > span.fa,
.org-chart ul.direct-reports li > span.fa {
  line-height: 130px;
}
.org-chart ul.manager li h6,
.org-chart ul.direct-reports li h6 {
  line-height: 1.3;
}
.org-chart ul.manager li h6 {
  margin-bottom: 3.5px;
}
.org-chart ul.direct-reports li {
  margin-bottom: 20px;
  padding: 0 6px;
}
.org-chart ul.direct-reports li > img,
.org-chart ul.direct-reports li > span.fa {
  margin-top: 6px;
}
