.org-chart {
  max-width: 850px;
}
.org-chart ul.employee li {
  margin-bottom: 0;
  width: 200px;
}
.org-chart ul.employee li > img,
.org-chart ul.employee li > span.fa {
  height: 100%;
  width: 100%;
}
.org-chart ul.employee li > span.fa {
  line-height: 150px;
}
.org-chart ul.manager li {
  margin-bottom: 0;
}
.org-chart ul.direct-reports {
  background-color: #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
}
.org-chart ul.direct-reports li {
  margin: 10px;
}
