floor {
  background-color: transparent;
  background-repeat: no-repeat;
  display: table;
  height: 1149px;
  margin-bottom: 40px;
  position: relative;
  width: 1256px;
}
.toggle-show-seat-numbers-swicth {
  bottom: 50px;
  right: 25px;
  position: absolute;
}
/* Show seat numbers */
.seat > span {
  visibility: hidden;
}
.show-seat-numbers + floor .seat > span {
  visibility: visible;
}
.buf-6 {
  background-image: url("/images/buf-6.png");
}
.buf-7 {
  background-image: url("/images/buf-7.png");
}
.buf-8 {
  background-image: url("/images/buf-8.png");
}
.nyc-6 {
  background-image: url("/images/nyc-6.png");
  height: 646px;
  width: 640px;
}
.floor-label {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/*********************************
 Printer
*********************************/
printer {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 30px;
  position: absolute;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  white-space: nowrap;
  width: 30px;
}
printer:hover {
  background-color: rgba(222,88,88,0.5);
}
printer .printer span {
  font-size: 20px;
  line-height: 30px;
  padding: 4px 5px;
}
printer.sm {
  height: 20px;
  width: 20px;
}
printer.sm .printer span {
  font-size: 12px;
  line-height: 14px;
  padding: 2px 3px;
}
printer.vert .printer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
printer.color:hover {
  background-color: #00b259;
}
printer.color .printer span {
  color: #005295;
}
printer.mapped {
  z-index: 1;
}
printer.mapped .mapped-label {
  bottom: -25px;
  left: -8px;
  line-height: 1.2em;
  position: absolute;
}
/*********************************
 Room
*********************************/
room {
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  position: absolute;
  white-space: nowrap;
}
room .room {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
room .room span {
  text-align: center;
  text-transform: capitalize;
}
room .room span .label {
  cursor: pointer;
}
room.allentown {
  height: 122px;
  width: 123px;
}
room.kaisertown {
  height: 116px;
  width: 89px;
}
room.cobblestone {
  height: 145px;
  width: 141px;
}
room.canalside {
  height: 145px;
  width: 216px;
}
room.break-buf7 {
  height: 197px;
  width: 280px;
}
room.goodell {
  height: 92px;
  width: 89px;
}
room.niagara {
  height: 110px;
  width: 145px;
}
room.tupper {
  height: 110px;
  width: 71px;
}
room.main {
  height: 305px;
  width: 170px;
}
room.erie {
  height: 89px;
  width: 91px;
}
room.scott {
  height: 113px;
  width: 91px;
}
room.delaware {
  height: 86px;
  width: 113px;
}
room.elmwood {
  height: 89px;
  width: 80px;
}
room.washington {
  height: 117px;
  width: 94px;
}
room.ontario {
  height: 79px;
  width: 102px;
}
room.break-buf8 {
  height: 197px;
  width: 280px;
}
room.room1-nyc6 {
  height: 146px;
  width: 120px;
}
room.room2-nyc6 {
  height: 79px;
  width: 205px;
}
room.room3-nyc6 {
  height: 121px;
  width: 78px;
}
room.room4-nyc6 {
  height: 80px;
  width: 119px;
}
room.break-nyc6 {
  height: 58px;
  width: 86px;
}
room.riverworks {
  height: 110px;
  width: 127px;
}
room.chippewa {
  height: 110px;
  width: 127px;
}
room.black-rock {
  height: 127px;
  width: 85px;
}
room.big-ditch {
  height: 109px;
  width: 190px;
}
room.town-hall {
  height: 370px;
  width: 288px;
}
room.town-hall .pulse,
room.town-hall .pin {
  top: 40%;
}
room.mapped .label {
  background-color: #df5640 !important;
}
/*********************************
 Desk
*********************************/
desk {
  background-color: transparent;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: table;
  position: absolute;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  white-space: nowrap;
/* Employee Specific */
/* Manager Specific */
/* Office Specific */
}
desk:hover {
  background-color: rgba(222,88,88,0.5);
}
desk.mapped {
  z-index: 1;
}
desk .seat {
  display: table-cell;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}
desk .marker {
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  width: 100%;
}
desk .marker .mapped-label {
  line-height: 1.2em;
  position: absolute;
}
desk.employee {
  height: 20px;
  width: 58px;
/* Horizontal Employee Desks are the default */
/* Vertical Employee Desks */
}
desk.employee .mapped-label {
  bottom: -25px;
  left: -6px;
}
desk.employee.vert {
  height: 58px;
  width: 20px;
}
desk.employee.vert .seat {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
desk.employee.vert .mapped-label {
  bottom: -10px;
  left: -10px;
}
desk.manager {
  height: 55px;
  width: 64px;
/* Horizontal Manager Desks are the default */
/* Vertical Manager Desks */
}
desk.manager .seat span {
  background-color: rgba(255,255,255,0.75);
}
desk.manager .mapped-label {
  bottom: -15px;
  left: 0;
}
desk.manager.vert {
  height: 64px;
  width: 55px;
}
desk.manager.vert .mapped-label {
  bottom: -5px;
}
desk.manager.it {
  width: 78px;
}
desk.manager.it.vert {
  height: 78px;
  width: 55px;
}
desk.manager.ewa {
  -webkit-transform: rotate(26deg);
  -moz-transform: rotate(26deg);
  -o-transform: rotate(26deg);
  -ms-transform: rotate(26deg);
  transform: rotate(26deg);
}
desk.manager.ewa .seat,
desk.manager.ewa .marker {
  -webkit-transform: rotate(-26deg);
  -moz-transform: rotate(-26deg);
  -o-transform: rotate(-26deg);
  -ms-transform: rotate(-26deg);
  transform: rotate(-26deg);
}
desk.office {
  height: 84px;
  width: 114px;
}
desk.office .seat span {
  background-color: rgba(255,255,255,0.75);
}
desk.office .mapped-label {
  bottom: 5px;
  left: 20px;
}
/*********************************
BUF 6th Floor overrides
*********************************/
.buf-6 desk.employee {
  height: 24px;
  width: 55px;
}
.buf-6 desk.vert {
  height: 55px;
  width: 24px;
}
.buf-6 desk.manager {
  height: 69px;
  width: 73px;
}
/*********************************
NYC
*********************************/
.nyc-6 desk.employee {
  border: 1px solid #808080;
  height: 20px;
  width: 54px;
}
.nyc-6 desk.employee.vert {
  height: 54px;
  width: 20px;
}
.nyc-6 desk.cube {
  height: 46px;
  width: 62px;
}
.nyc-6 desk.cube .mapped-label {
  bottom: -15px;
  left: 0;
}
.nyc-6 desk.manager .seat span {
  background-color: transparent;
}
.nyc-6 desk#desk-060203 {
  height: 80px;
  width: 111px;
}
.nyc-6 desk#desk-060206 {
  height: 80px;
  width: 119px;
}
.nyc-6 desk#desk-060209 {
  height: 80px;
  width: 84px;
}
.nyc-6 desk#desk-060212 {
  height: 80px;
  width: 77px;
}
.nyc-6 desk#desk-060215 {
  height: 80px;
  width: 124px;
}
.nyc-6 desk#desk-060219 {
  height: 80px;
  width: 108px;
}
.nyc-6 desk#desk-061602 {
  height: 76px;
  width: 78px;
}
/*********************************
Artifacts
*********************************/
artifact {
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  position: absolute;
  white-space: nowrap;
}
artifact .artifact {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
artifact .artifact span {
  text-align: center;
  text-transform: capitalize;
}
artifact.no-label .artifact {
  display: none;
}
artifact.vert .artifact {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
artifact.north-stair-6,
artifact.north-stair-7,
artifact.north-stair-8 {
  height: 176px;
  width: 77px;
}
artifact.south-stair-6,
artifact.south-stair-7,
artifact.south-stair-8 {
  height: 71px;
  width: 170px;
}
artifact.lobby-6 {
  height: 192px;
  width: 89px;
}
artifact.kitchen-6 {
  height: 182px;
  width: 73px;
}
artifact.storage-6-1 {
  height: 82px;
  width: 73px;
}
artifact.storage-6-2 {
  height: 108px;
  width: 56px;
}
artifact.mens-room-6,
artifact.womens-room-6 {
  height: 263px;
  width: 90px;
}
artifact.mens-room-6 {
  background: transparent url("/images/mens-room.svg") left top no-repeat;
  -webkit-background-size: 32px 32px;
  -moz-background-size: 32px 32px;
  background-size: 32px 32px;
}
artifact.womens-room-6 {
  background: transparent url("/images/womens-room.svg") right top no-repeat;
  -webkit-background-size: 32px 32px;
  -moz-background-size: 32px 32px;
  background-size: 32px 32px;
}
artifact.liazon-cafe {
  height: 91px;
  width: 216px;
}
artifact.server-room-7 {
  height: 118px;
  width: 103px;
}
artifact.storage-7-1 {
  height: 84px;
  width: 49px;
}
artifact.storage-7-2 {
  height: 36px;
  width: 82px;
}
artifact.office-supplies-7 {
  height: 32px;
  width: 117px;
}
artifact.mens-room-7,
artifact.womens-room-7,
artifact.mens-room-8,
artifact.womens-room-8 {
  height: 91px;
  width: 287px;
}
artifact.mens-room-7,
artifact.mens-room-8 {
  background: transparent url("/images/mens-room.svg") left bottom no-repeat;
  -webkit-background-size: 32px 32px;
  -moz-background-size: 32px 32px;
  background-size: 32px 32px;
}
artifact.womens-room-7,
artifact.womens-room-8 {
  background: transparent url("/images/womens-room.svg") left top no-repeat;
  -webkit-background-size: 32px 32px;
  -moz-background-size: 32px 32px;
  background-size: 32px 32px;
}
artifact.lobby-7 {
  height: 187px;
  width: 136px;
}
artifact.stairs-7,
artifact.stairs-8 {
  height: 59px;
  width: 59px;
}
artifact.lobby-8 {
  height: 298px;
  width: 131px;
}
artifact.storage-8-1 {
  height: 59px;
  width: 91px;
}
artifact.storage-8-2 {
  height: 29px;
  width: 214px;
}
artifact.storage-8-3 {
  height: 73px;
  width: 94px;
}
