@import nib

floor
  background-color transparent
  background-repeat no-repeat
  display table
  height 1149px
  margin-bottom 20px
  position relative
  width 1256px

.buf-6
  background-image url('/images/buf-6.png')

.buf-7
  background-image url('/images/buf-7.png')

.buf-8
  background-image url('/images/buf-8.png')

.nyc-6
  background-image url('/images/nyc-6.png')
  height 646px
  width 640px

.floor-label
  display table-cell
  text-align center
  vertical-align middle

$desk-border = 1px
$employee-width = 58px
$employee-height = 20px
$employee-border = 1px

$manager-width = 64px
$manager-height = 55px
$manager-it-width = 78px

$office-width = 114px
$office-height = 84px

/*********************************
 Printer
*********************************/
printer
  border-radius 2px
  box-sizing border-box
  cursor pointer
  display block
  height 30px
  position absolute
  transition background-color 0.2s linear
  white-space nowrap
  width 30px

  &:hover
    background-color rgba(222, 88, 88,.5);

  .printer span
    font-size 20px
    line-height 30px
    padding 4px 5px

  &.sm
    height 20px
    width 20px

    .printer span
      font-size 12px
      line-height 14px
      padding 2px 3px

  &.vert .printer
    position absolute
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%) rotate(-90deg)

  &.color

    &:hover
      background-color #00B259

    .printer span
        color #005295

  &.mapped
    z-index 1

    .mapped-label
      bottom -25px
      left -8px
      line-height 1.2em
      position absolute

/*********************************
 Room
*********************************/
room
  border 1px solid transparent
  box-sizing border-box
  display table
  position absolute
  white-space nowrap

  .room
    display table-cell
    text-align center
    vertical-align middle

    span
      text-align center
      text-transform capitalize

      .label
        cursor pointer

  &.allentown
    height 122px
    width 123px

  &.kaisertown
    height 116px
    width 89px

  &.cobblestone
    height 145px
    width 141px

  &.canalside
    height 145px
    width 216px

  &.break-buf7
    height 197px
    width 280px

  &.goodell
    height 92px
    width 89px

  &.niagara
    height 110px
    width 145px

  &.tupper
    height 110px
    width 71px

  &.main
    height 305px
    width 170px

  &.erie
    height 89px
    width 91px

  &.scott
    height 113px
    width 91px

  &.delaware
    height 86px
    width 113px

  &.elmwood
    height 89px
    width 80px

  &.washington
    height 117px
    width 94px

  &.ontario
    height 79px
    width 102px

  &.break-buf8
    height 197px
    width 280px

  &.room1-nyc6
    height 146px
    width 120px

  &.room2-nyc6
    height 79px
    width 205px

  &.room3-nyc6
    height 121px
    width 78px

  &.break-nyc6
    height 58px
    width 86px

  &.riverworks
    height 110px
    width 127px

  &.chippewa
    height 110px
    width 127px

  &.black-rock
    height 127px
    width 85px

  &.big-ditch
    height 109px
    width 190px

  &.town-hall
    height 370px
    width 288px

    .pulse, .pin
      top 40%

  &.mapped .label
      background-color #df5640 !important

/*********************************
 Desk
*********************************/
desk
  background-color transparent
  border 1px solid transparent
  box-sizing border-box
  cursor pointer
  display table
  position absolute
  transition background-color 0.2s linear
  white-space nowrap

  &:hover
    background-color rgba(222, 88, 88,.5);

  &.mapped
    z-index 1

  .seat
    display table-cell
    font-size 12px
    text-align center
    vertical-align middle

    /* seat number */
    span
      text-align center
      visibility hidden

      &.admin
        visibility visible

  .marker
    position absolute
    left 0
    height 100%
    top 0
    width 100%

    .mapped-label
      line-height 1.2em
      position absolute

  /* Employee Specific */
  &.employee
    height $employee-height
    width $employee-width

    /* Horizontal Employee Desks are the default */
    .mapped-label
      bottom -25px
      left -6px

    /* Vertical Employee Desks */
    &.vert
      height $employee-width
      width $employee-height

      .seat
        position absolute
        top 50%
        left 50%
        transform translateX(-50%) translateY(-50%) rotate(90deg)

      .mapped-label
        bottom -10px
        left -10px

  /* Manager Specific */
  &.manager
    height $manager-height
    width $manager-width

    /* Horizontal Manager Desks are the default */
    .seat span
      background-color rgba(255,255,255,.75);

    .mapped-label
      bottom -15px
      left 0

    /* Vertical Manager Desks */
    &.vert
      height $manager-width
      width $manager-height

      .mapped-label
        bottom -5px

    &.it
      width $manager-it-width

      &.vert
        height $manager-it-width
        width $manager-height

    &.ewa
      transform rotate(26deg)

      .seat,
      .marker
        transform rotate(-26deg)

  /* Office Specific */
  &.office
    height $office-height
    width $office-width

    .seat span
      background-color rgba(255,255,255,.75);

    .mapped-label
      bottom 5px
      left 20px

/*********************************
BUF 6th Floor overrides
*********************************/
$floor6-employee-width = 55px
$floor6-employee-height = 24px

$floor6-manager-width = 73px
$floor6-manager-height = 69px

.buf-6 desk

  &.employee
    height $floor6-employee-height
    width $floor6-employee-width

  &.vert
    height $floor6-employee-width
    width $floor6-employee-height

  &.manager
    height $floor6-manager-height
    width $floor6-manager-width


/*********************************
NYC
*********************************/
$nyc-employee-width = 54px
$nyc-employee-height = 20px
$nyc-cube-width = 62px
$nyc-cube-height = 46px

.nyc-6 desk

  &.employee
    border 1px solid #808080
    height $nyc-employee-height
    width $nyc-employee-width

    &.vert
      height $nyc-employee-width
      width $nyc-employee-height

  &.cube
    height $nyc-cube-height
    width $nyc-cube-width

    .mapped-label
      bottom -15px
      left 0

  &.manager .seat span
      background-color transparent

  &#desk-060203
    height 80px
    width 111px

  &#desk-060206
    height 80px
    width 119px

  &#desk-060209
    height 80px
    width 84px

  &#desk-060212
    height 80px
    width 77px

  &#desk-060215
    height 80px
    width 124px

  &#desk-060219
    height 80px
    width 108px

  &#desk-061602
    height 76px
    width 78px