floor {
  background: transparent url("/imagesfloor-6.png") left top no-repeat;
  display: block;
  height: 1149px;
  position: relative;
  width: 1256px;
}
.floor-6 {
  background-image: url("/images/floor-6.png");
}
.floor-7 {
  background-image: url("/images/floor-7.png");
}
.floor-8 {
  background-image: url("/images/floor-8.png");
}
desk {
  background-color: #ddd;
  border: 1px solid #f00;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  white-space: nowrap;
}
desk div.pos {
  font-size: 12px;
  text-align: center;
}
desk.employee {
  height: 20px;
  width: 58px;
}
desk.employee div.pos {
  line-height: 18px;
}
desk.employee.vert {
  height: 58px;
  width: 20px;
}
desk.employee.vert div.pos {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
desk.manager {
  height: 55px;
  width: 64px;
}
desk.manager div.pos {
  line-height: 53px;
}
desk.manager.vert {
  height: 64px;
  width: 55px;
}
desk.manager.vert div.pos {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
desk.active {
  z-index: 1;
}
.floor-6 desk.employee {
  height: 24px;
  width: 55px;
}
.floor-6 desk div.pos {
  font-size: 12px;
  line-height: 22px;
  text-align: center;
}
.floor-6 desk.vert {
  height: 55px;
  width: 24px;
}
