@import nib

floor
  background transparent url('/imagesfloor-6.png') left top no-repeat
  display: block
  height: 1149px
  position: relative
  width: 1256px

.floor-6
  background-image url('/images/floor-6.png')

.floor-7
  background-image url('/images/floor-7.png')

.floor-8
  background-image url('/images/floor-8.png')

$desk-border = 1px
$employee-width = 58px
$employee-height = 20px
$employee-border = 1px

$manager-width = 64px
$manager-height = 55px

$floor6-employee-width = 55px
$floor6-employee-height = 24px

desk
  background-color #ddd
  border 1px solid #f00
  box-sizing border-box
  position absolute
  white-space nowrap

  div.pos
    font-size 12px
    text-align center

  &.employee
    height $employee-height
    width $employee-width

    div.pos
      line-height $employee-height - 2 * $desk-border

    &.vert
      height $employee-width
      width $employee-height

      div.pos
        position absolute
        top 50%
        left 50%
        transform translateX(-50%) translateY(-50%) rotate(90deg)

  &.manager
    height $manager-height
    width $manager-width

    div.pos
      line-height $manager-height - 2 * $desk-border

    &.vert
      height $manager-width
      width $manager-height

      div.pos
        position absolute
        top 50%
        left 50%
        transform translateX(-50%) translateY(-50%) rotate(90deg)

  &.active
    z-index 1

.floor-6 desk

  &.employee
    height $floor6-employee-height
    width $floor6-employee-width

  div.pos
    font-size 12px
    line-height $floor6-employee-height - 2 * $desk-border
    text-align center

  &.vert
    height $floor6-employee-width
    width $floor6-employee-height