@import nib

floor
  background-color transparent
  background-repeat no-repeat
  display: table
  height: 1149px
  position: relative
  width: 1256px

.floor-6
  background-image url('/images/floor-6.png')

.floor-7
  background-image url('/images/floor-7.png')

.floor-8
  background-image url('/images/floor-8.png')

.floor-label
  display table-cell
  text-align center
  vertical-align middle

$desk-border = 1px
$employee-width = 58px
$employee-height = 20px
$employee-border = 1px

$manager-width = 64px
$manager-height = 55px
$manager-it-width = 78px

$office-width = 114px
$office-height = 84px

$floor6-employee-width = 55px
$floor6-employee-height = 24px

/*********************************
 Printer
*********************************/
printer
  border-radius 2px
  box-sizing border-box
  cursor pointer
  display block
  height 30px
  position absolute
  transition background-color 0.2s linear
  white-space nowrap
  width 30px

  &:hover
    background-color rgba(222, 88, 88,.5);

  .printer span
    font-size 20px
    line-height 30px
    padding 4px 5px

  &.vert .printer
    position absolute
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%) rotate(-90deg)

  &.color

    &:hover
      background-color #00B259

    .printer span
        color #005295

  &.mapped
    z-index 1

    .mapped-label
      bottom -25px
      left -8px
      line-height 1.2em
      position absolute

/*********************************
 Room
*********************************/
room
  border 1px solid transparent
  box-sizing border-box
  display table
  position absolute
  white-space nowrap

  .room
    display table-cell
    text-align center
    vertical-align middle

    span
      text-align center
      text-transform capitalize

  &.allentown
    height 122px
    width 123px

  &.kaisertown
    height 116px
    width 89px

  &.cobblestone
    height 145px
    width 141px

  &.canalside
    height 145px
    width 216px

  &.break7
    height 197px
    width 280px

  &.goodell
    height 92px
    width 89px

  &.niagara
    height 110px
    width 145px

  &.tupper
    height 110px
    width 71px

  &.main
    height 305px
    width 170px

  &.erie
    height 89px
    width 91px

  &.scott
    height 113px
    width 91px

  &.delaware
    height 86px
    width 113px

  &.elmwood
    height 89px
    width 80px

  &.washington
    height 117px
    width 94px

  &.ontario
    height 79px
    width 102px

  &.break8
    height 197px
    width 280px

/*********************************
 Desk
*********************************/
desk
  background-color transparent
  border 1px solid transparent
  box-sizing border-box
  cursor pointer
  display table
  position absolute
  transition background-color 0.2s linear
  white-space nowrap

  &:hover
    background-color rgba(222, 88, 88,.5);

  .seat
    display table-cell
    font-size 12px
    text-align center
    vertical-align middle

    span
      text-align center
      visibility hidden

      &.admin
        visibility visible

  &.employee
    height $employee-height
    width $employee-width

    &.vert
      height $employee-width
      width $employee-height

      .seat
        position absolute
        top 50%
        left 50%
        transform translateX(-50%) translateY(-50%) rotate(90deg)

  &.manager
    height $manager-height
    width $manager-width

    .seat span
      background-color rgba(255,255,255,.75);

    &.vert
      height $manager-width
      width $manager-height

    &.it
      width $manager-it-width

      &.vert
        height $manager-it-width
        width $manager-height

    &.ewa
      transform rotate(26deg)

      .seat
        transform rotate(-26deg)

  &.office
    height $office-height
    width $office-width

    .seat span
      background-color rgba(255,255,255,.75);

  &.mapped
    z-index 1

    .mapped-label
      bottom -25px
      left -8px
      line-height 1.2em
      position absolute

  &.vert .mapped-label
    bottom -10px

.floor-6 desk

  &.employee
    height $floor6-employee-height
    width $floor6-employee-width

  &.vert
    height $floor6-employee-width
    width $floor6-employee-height