.location-color {
  color: #de5858 !important;
}
.profile-color {
  color: #3498db !important;
}
/**************************************************
Directory Item Selector
**************************************************/
.directory-item-selector .directory-item-filter {
  color: #666;
  position: relative;
}
.directory-item-selector .directory-item-filter .panel {
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.directory-item-selector .directory-item-filter .panel .panel-heading {
  border-left: 0;
  border-top: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-right: 0;
  height: 51px;
}
.directory-item-selector .directory-item-filter .panel .panel-body {
  border-left: 0;
  border-top: 0;
  border-right: 0;
}
.directory-item-selector .directory-item-filter .panel .checkbox-custom label {
  font-size: 11px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 21px;
}
.directory-item-selector .directory-item-filter .panel .checkbox-custom label:before {
  border-color: #ddd;
  border-width: 1px;
  background-color: transparent;
}
.directory-item-selector .directory-item-filter .panel .checkbox-custom label.location {
  width: 32px;
}
.directory-item-selector .directory-item-filter .panel .checkbox-custom label.location:before {
  width: 34px;
}
.directory-item-selector .directory-item-filter .panel .checkbox-custom label:after {
  display: none !important;
}
.directory-item-selector .directory-item-filter .panel .checkbox-custom input[type=checkbox]:checked + label {
  color: #3498db;
}
.directory-item-selector .floors-disabled {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.directory-item-selector h5 {
  background-color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 12px 12px;
}
.directory-item-selector h5 .fa,
.directory-item-selector h5 .ico {
  margin-right: 10px;
}
.directory-item-selector h5 .label {
  display: inline-block;
  float: right;
  padding: 0 3px;
  line-height: 16px;
  font-size: 11px;
}
.directory-item-selector .directory-item:last-child {
  border-bottom: 1px solid #ddd;
}
.directory-item-selector .directory-item > a {
  cursor: pointer;
  padding-left: 15px !important;
}
.directory-item-selector .directory-item.ng-enter {
  -webkit-transition: 0.15s linear all;
  -moz-transition: 0.15s linear all;
  -o-transition: 0.15s linear all;
  -ms-transition: 0.15s linear all;
  transition: 0.15s linear all;
  left: -200px;
}
.directory-item-selector .directory-item.ng-enter.ng-enter-active {
  left: 0;
}
.directory-item-selector .directory-item.ng-leave {
  -webkit-transition: 0.15s linear all;
  -moz-transition: 0.15s linear all;
  -o-transition: 0.15s linear all;
  -ms-transition: 0.15s linear all;
  transition: 0.15s linear all;
  left: 0;
}
.directory-item-selector .directory-item.ng-leave.ng-leave-active {
  left: -200px;
}
/**************************************************
Directory Item Card
**************************************************/
.directory-item-card {
  list-style: none;
}
.directory-item-card ed-employee-card .panel {
  min-width: 310px;
}
.directory-item-card ed-room-card .panel,
.directory-item-card ed-printer-card .panel {
  min-width: 230px;
}
.directory-item-card .row.table-layout {
  overflow: hidden;
}
.directory-item-card .row.table-layout td {
  white-space: nowrap;
}
.directory-item-card .employee-photo {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
}
.directory-item-card.ng-enter {
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  -ms-transition: 0.2s linear all;
  transition: 0.2s linear all;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  top: -400px;
}
.directory-item-card.ng-enter.ng-enter-active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 0;
}
.directory-item-card .memberships li {
  background-color: #f3f3f3;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  margin: 4px;
  padding: 0;
}
.directory-item-card .memberships li a {
  display: block;
  padding: 4px;
}
.directory-item-card .memberships li img {
  height: 32px;
  width: 32px;
}
.directory-item-card .memberships li:hover {
  background-color: #ccc;
}
.directory-item-card .employee-actions li {
  font-size: 2em;
}
.directory-item-card .employee-actions li a {
  color: #999;
  text-decoration: none;
}
/**************************************************
Help styles
**************************************************/
.printer-color-color {
  background-color: #005295;
  color: #fff;
  margin: 0 5px;
  padding: 0 5px;
}
.printer-mono-color {
  background-color: #666;
  color: #fff;
  margin: 0 5px;
  padding: 0 5px;
}
/**************************************************
View Transitions
**************************************************/
.main-view {
  padding: 20px 20px 50px 21px;
}
.sidebar-view.ng-enter,
.sidebar-view.ng-leave,
.topbar-view.ng-enter,
.topbar-view.ng-leave,
.main-view.ng-enter,
.main-view.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
}
.sidebar-view.ng-enter,
.topbar-view.ng-enter,
.main-view.ng-enter {
  -webkit-animation: moveFromRight 0.5s ease both;
  -moz-animation: moveFromRight 0.5s ease both;
  -o-animation: moveFromRight 0.5s ease both;
  -ms-animation: moveFromRight 0.5s ease both;
  animation: moveFromRight 0.5s ease both;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sidebar-view.ng-leave,
.topbar-view.ng-leave,
.main-view.ng-leave {
  -webkit-animation: moveToLeft 0.5s ease both;
  -moz-animation: moveToLeft 0.5s ease both;
  -o-animation: moveToLeft 0.5s ease both;
  -ms-animation: moveToLeft 0.5s ease both;
  animation: moveToLeft 0.5s ease both;
}
/**************************************************
Misc Transitions
**************************************************/
.shrink-left {
  height: 0 !important;
  width: 0;
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  -ms-transition: 0.2s linear all;
  transition: 0.2s linear all;
}
.scale-down {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  -ms-transition: 0.2s linear all;
  transition: 0.2s linear all;
}
@-moz-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -o-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    transform: translateX(-120%);
  }
  from {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -o-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    transform: translateX(-120%);
  }
  from {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -o-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    transform: translateX(-120%);
  }
  from {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -o-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    transform: translateX(-120%);
  }
  from {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes moveFromRight {
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  from {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveFromRight {
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  from {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-o-keyframes moveFromRight {
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  from {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes moveFromRight {
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  from {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-moz-keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  from {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  from {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  from {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  from {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes moveFromBottom {
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  from {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-webkit-keyframes moveFromBottom {
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  from {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-o-keyframes moveFromBottom {
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  from {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes moveFromBottom {
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  from {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
}
