/**************************************************
Employee Selector
**************************************************/
.employee-selector {
  position: relative;
  top: -274px;
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  -ms-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}
.employee-selector.open {
  top: 0;
}
.employee-selector .employee-filter {
  color: #666;
  position: relative;
}
.employee-selector .employee-filter .panel {
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.employee-selector .employee-filter .panel .panel-heading {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.employee-selector .employee-filter .toggle {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  bottom: -33px;
  cursor: pointer;
  left: 0;
  padding: 10px;
  position: absolute;
  width: 32px;
  z-index: 1;
}
.employee-selector .employee-item.ng-enter {
  -webkit-transition: 0.15s linear all;
  -moz-transition: 0.15s linear all;
  -o-transition: 0.15s linear all;
  -ms-transition: 0.15s linear all;
  transition: 0.15s linear all;
  left: -250px;
}
.employee-selector .employee-item.ng-enter.ng-enter-active {
  left: 0;
}
.employee-selector .employee-item.ng-leave {
  -webkit-transition: 0.15s linear all;
  -moz-transition: 0.15s linear all;
  -o-transition: 0.15s linear all;
  -ms-transition: 0.15s linear all;
  transition: 0.15s linear all;
  left: 0;
}
.employee-selector .employee-item.ng-leave.ng-leave-active {
  left: -250px;
}
/**************************************************
Employee Card
**************************************************/
.employee-card .row.table-layout {
  overflow: hidden;
}
.employee-card .row.table-layout td {
  white-space: nowrap;
}
.employee-card .employee-photo {
  width: 100%;
}
.employee-card.ng-enter {
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  -ms-transition: 0.2s linear all;
  transition: 0.2s linear all;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  top: -400px;
}
.employee-card.ng-enter-stagger {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s;
}
.employee-card.ng-enter.ng-enter-active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 0;
}
