@import nib

text-color = #666
primary-color = #4a89dc
primary-a-color = #3498db
primary-color-blue = #3498db
primary-color-red = #de5858

.location-color
  color primary-color-red !important

.profile-color
  color primary-color-blue !important

/**************************************************
Directory Item Selector
**************************************************/
.directory-item-selector

  .directory-item-filter
    color text-color
    position relative

    .panel
      border-radius 0
      margin-bottom 0

      .panel-heading
        border-left 0
        border-top 0
        border-radius 0
        border-right 0
        height 51px

      .panel-body
        border-left 0
        border-top 0
        border-right 0

      .checkbox-custom label
        font-size 11px
        line-height 20px
        margin 0
        padding 0
        text-align center
        width 21px

        &:before
          border-color #ddd
          border-width 1px
          background-color transparent

        &.location
          width 32px

          &:before
            width 34px

        &:after
          display none !important

      .checkbox-custom input[type=checkbox]:checked + label
        color primary-color-blue

  .floors-disabled
    opacity .3
    transition opacity 300ms ease

  h5
    background-color #fff
    font-size 14px
    margin 0
    padding 12px 12px

    .fa, .ico
      margin-right 10px

    .label
      display inline-block
      float right
      padding 0 3px
      line-height 16px
      font-size 11px

  .directory-item:last-child
    border-bottom 1px solid #dddddd

  .directory-item > a
    cursor pointer
    padding-left 15px !important

  .directory-item.ng-enter
    transition 0.15s linear all
    left -200px

  .directory-item.ng-enter.ng-enter-active
    left 0

  .directory-item.ng-leave
    transition 0.15s linear all
    left 0

  .directory-item.ng-leave.ng-leave-active
    left -200px

/**************************************************
Directory Item Card
**************************************************/
.directory-item-card

  .row.table-layout
    overflow hidden

  .row.table-layout td
    white-space nowrap

  .employee-photo
    border-radius 3px
    width 100%

  &.ng-enter
    transition 0.2s linear all
    opacity 0
    top -400px

  &.ng-enter.ng-enter-active
    opacity 1
    top 0

/**************************************************
Help styles
**************************************************/
.printer-color-color
  background-color #005295
  color #fff
  margin 0 5px
  padding 0 5px

.printer-mono-color
  background-color #666
  color #fff
  margin 0 5px
  padding 0 5px

/**************************************************
View Transitions
**************************************************/
.main-view
  padding 20px 20px 50px 21px

.sidebar-view.ng-enter,
.sidebar-view.ng-leave,
.topbar-view.ng-enter,
.topbar-view.ng-leave,
.main-view.ng-enter,
.main-view.ng-leave
  position absolute
  left 0
  right 0

.sidebar-view.ng-enter,
.topbar-view.ng-enter,
.main-view.ng-enter
  animation moveFromRight .5s ease both
  animation-delay: .1s;

.sidebar-view.ng-leave,
.topbar-view.ng-leave,
.main-view.ng-leave
  animation moveToLeft .5s ease both

@keyframes moveToLeft
  to
    transform translateX(-120%)
  from
    transform translateX(0)

@keyframes moveFromRight
  to
    transform translateX(0)
  from
    transform translateX(100%)

@keyframes moveToTop
  to
    transform translateY(-100%)
  from
    transform translateY(0)

@keyframes moveFromBottom
  to
    transform translateY(0)
  from
    transform translateY(100%)

/**************************************************
Misc Transitions
**************************************************/
.shrink-left
  height 0 !important
  width 0
  transition 0.2s linear all

.scale-down
  opacity 0
  transform scale(0)
  transition 0.2s linear all