primary-color = #3498db

body
  background #fafafa url('images/content_inner_bg.png')
  font-family 'Open Sans', Helvetica, Arial, sans-serif
  padding-top 60px
  -webkit-font-smoothing antialiased

.navbar
  background-color #fff
  border-radius 0
  border 0
  box-shadow 0 1px 0 0 #e0e0e0
  color #666
  height 60px
  margin-bottom 0

.navbar.navbar-shadow
  box-shadow 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 2px 0px 0px rgba(0, 0, 0, 0.02)

.navbar-branding
  position relative
  overflow hidden
  float left
  width 250px
  height 60px
  margin-right 10px
  background-color transparent

  .navbar-brand
    color #666
    height 60px
    line-height 58px
    padding 0
    padding-left 18px
    font-size 17px
    font-weight 400
    letter-spacing 0.5px

.sidebar {
  background-color #4c4a49
  color #fff
  font-size 13px
}
  
.sidebar-left
  position fixed
  height 100%
  top 0
  left 0
  width 250px
  min-height 100%
  padding-top 60px

  .sidebar-left-content
    height 100%
    overflow-y auto

.page-content-wrapper
  overflow hidden
  padding-left 250px

  > .page-content
    padding-top 30px

  .topbar
    background #e7e7e7
    border-bottom 1px solid #ddd
    padding 15px 15px
a
  color primary-color

  &:hover
  &:focus
    color #1d6fa5
  
.sidebar
  
  a
    color #fff
    text-decoration none

  .sidebar-label
    color #908885
    font-size 12px
    font-weight 600
    line-height 37px
    padding-left 18px
    text-transform uppercase

/**************************************************
  Panels
**************************************************/
.panel
  border none
  box-shadow none
  
  .panel-heading
    position relative
    height 52px
    line-height 49px
    letter-spacing 0.2px
    color #999999
    font-size 15px
    font-weight 400
    padding 0 8px
    background #fafafa
    border 1px solid #e2e2e2
    border-top-right-radius 3px
    border-top-left-radius 3px

    .panel-icon
      padding-left 5px

    .panel-title
      font-size 15px
      line-height 49px
      padding-left 6px

    .panel-controls
      float right
      position relative
      display block
      cursor pointer
      padding-left 5px
      padding-right 7px
      margin-right -8px
      background rgba(0, 0, 0, 0.028)
      border-left 1px solid rgba(0, 0, 0, 0.06)

      > a
        padding-top 1px
        display inline-block
        opacity 0.7
        width 26px
        color #999
        font-size 13px
        font-weight normal
        text-align center

        &:hover
        &:focus
          color #1d6fa5
          text-decoration none

  .panel-body
    border 1px solid #e2e2e2
    border-top none

/**************************************************
  Employee Selector
**************************************************/
ul.employee-selector
  margin-bottom 0
  padding-left 0
  list-style none

  li
    border-top 1px solid rgba(255,255,255,.05)
    display block
    height 37px
    line-height 37px

    &:last-child
      border-bottom 1px solid rgba(255,255,255,.05)

    &.selected > a
      background-color #585858

      > i
          color primary-color

      &:before
        background-color primary-color
        bottom 0
        content ""
        display block
        left 0
        position absolute
        top 0
        width 4px

    a
      display block
      position relative

      &:hover
        background-color #585858

        &:before
          background-color primary-color
          bottom 0
          content ""
          display block
          left 0
          position absolute
          top 0
          width 4px

      > i
        line-height 37px
        padding-left 13px
        text-align center
        width 38px

      span
        line-height 37px
        padding-left 6px
