.navbar-brand {
  border-bottom: 3px solid #6e6e6e;
}
.navbar-brand img {
  height: 60px;
  padding: 5px 0;
}
#topbar {
  position: fixed;
}
#topbar .nav.nav-list-topbar li a {
  border: none;
  padding-bottom: 15px;
  position: relative;
}
#topbar .nav.nav-list-topbar li a:before {
  background-color: #3498db;
  bottom: 0;
  content: "";
  height: 3px;
  right: 0;
  position: absolute;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
  width: 0;
}
#topbar .nav.nav-list-topbar li.active a {
  border: none;
}
#topbar .nav.nav-list-topbar li.active a:before {
  width: 100%;
}
#topbar .nav.nav-list-topbar li.location-tab a:before,
#topbar .nav.nav-list-topbar li.active.location-tab a:before {
  background-color: #de5858;
}
#sidebar_left {
  z-index: 1;
}
.nano.affix > .nano-pane {
  left: 0;
  right: auto;
  width: 4px;
}
.sidebar-menu > li:last-child a {
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
.sidebar-menu > li > a {
  border-top: 1px solid rgba(255,255,255,0.05);
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.sidebar-menu > li > a:hover {
  background-color: #585858;
}
.sidebar-menu > li > a:hover:before {
  background-color: #fff;
  bottom: 0;
  content: "";
  display: block;
  right: 0;
  position: absolute;
  top: 0;
  width: 4px;
}
.sidebar-menu > li.active > a:before {
  background-color: #3498db;
  bottom: 0;
  content: "";
  display: block;
  right: 0;
  position: absolute;
  top: 0;
  width: 4px;
}
.sidebar-menu > li.mapped > a:before {
  background-color: #de5858;
  bottom: 0;
  content: "";
  display: block;
  right: 0;
  position: absolute;
  top: 0;
  width: 4px;
}
.sidebar-menu > li.mapped > a > span:nth-child(1) {
  color: #de5858;
}
.sidebar-menu > li.active.mapped > a:before {
  background-color: #3498db;
}
.sidebar-menu .sidebar-label-tray {
  position: absolute;
  right: 13px;
  top: 6px;
}
.panel-control-map-marker:after {
  content: "\f041";
}
@media (max-width: 1100px) {
  #content_wrapper {
    margin-left: 250px;
    left: 0;
  }
}
#content {
  padding: 0;
}
#content .main-view .pagination {
  margin: 0 auto 15px;
}
