.navbar-brand img {
  height: 60px;
  padding: 5px 0;
}
#content_wrapper {
  top: 110px;
}
#topbar {
  position: fixed;
  top: 60px;
}
#topbar .nav.nav-list-topbar li a {
  border: none;
  padding-bottom: 15px;
  position: relative;
}
#topbar .nav.nav-list-topbar li a:before {
  background-color: #3498db;
  bottom: 0;
  content: "";
  height: 3px;
  right: 0;
  position: absolute;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
  width: 0;
}
#topbar .nav.nav-list-topbar li.active a {
  border: none;
}
#topbar .nav.nav-list-topbar li.active a:before {
  width: 100%;
}
#topbar .nav.nav-list-topbar li.location-tab a:before,
#topbar .nav.nav-list-topbar li.active.location-tab a:before {
  background-color: #de5858;
}
/**************************************************
Sidebar
**************************************************/
#sidebar_left {
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
  width: 250px;
  z-index: 4;
}
#sidebar_left .sidebar-left-toggle {
  background: rgba(0,0,0,0.15);
  cursor: pointer;
  margin-bottom: 20px;
  padding: 4px 14px 3px;
  text-align: right;
}
#sidebar_left .sidebar-left-toggle.sidebar-locked {
  visibility: hidden;
}
#sidebar_left .sidebar-left-toggle span {
  color: #999;
  font-size: 25px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebar_left .sidebar-left-toggle:hover span {
  color: #fff;
}
#sidebar_left .sidebar-menu .sidebar-group-label {
  background-color: #454241;
  margin-top: 20px;
}
#sidebar_left .sidebar-menu > li.active.location-item > a:after {
  background-color: #de5858;
}
#sidebar_left .sidebar-menu > li.active.location-item > a > span:nth-child(1) {
  color: #de5858;
}
#sidebar_left .sidebar-menu > li.active > a:after {
  background-color: #3498db;
}
#sidebar_left .sidebar-menu > li {
  padding: 0;
  line-height: 37px;
  height: 37px;
  overflow: hidden;
  white-space: nowrap;
}
#sidebar_left .sidebar-menu > li > a {
  background-color: transparent;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -ms-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  white-space: nowrap;
}
#sidebar_left .sidebar-menu > li > a:hover {
  background-color: #585858;
}
#sidebar_left .sidebar-menu > li > a:after {
  background-color: #fff;
}
#sidebar_left .sidebar-menu > li span:nth-child(2) {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  padding-left: 6px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#sidebar_left .sidebar-menu > li .sidebar-label {
  color: #ccc;
  font-weight: bold;
  padding-bottom: 0;
  padding-left: 6px;
}
#sidebar_left .sidebar-menu > li > span:nth-child(1) {
  float: left;
  font-size: 16px;
  line-height: 37px;
  padding-left: 13px;
  text-align: center;
  top: 0;
  -webkit-transition: font-size 0.5s ease;
  -moz-transition: font-size 0.5s ease;
  -o-transition: font-size 0.5s ease;
  -ms-transition: font-size 0.5s ease;
  transition: font-size 0.5s ease;
  width: 38px;
}
#sidebar_left .sidebar-menu > li > a > span:nth-child(1) {
  font-size: 16px;
  -webkit-transition: font-size 0.5s ease;
  -moz-transition: font-size 0.5s ease;
  -o-transition: font-size 0.5s ease;
  -ms-transition: font-size 0.5s ease;
  transition: font-size 0.5s ease;
}
#sidebar_left.sidebar-left-sm {
  width: 50px;
}
#sidebar_left.sidebar-left-sm .sidebar-left-toggle span {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
#sidebar_left.sidebar-left-sm .sidebar-menu > li > span:nth-child(1) {
  font-size: 20px;
}
#sidebar_left.sidebar-left-sm .sidebar-menu > li > a > span:nth-child(1) {
  font-size: 20px;
}
#sidebar_left.sidebar-left-sm .sidebar-menu > li span:nth-child(2) {
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
  padding-left: 20px;
}
#sidebar_left_secondary {
  background: #f5f5f5;
  border-right: 1px solid #ddd;
  font-size: 13px;
  left: 0;
  margin-left: 50px;
  min-height: 100%;
  padding-bottom: 44px;
  padding-top: 60px;
  top: 0;
  -webkit-transition: margin-left 0.5s ease;
  -moz-transition: margin-left 0.5s ease;
  -o-transition: margin-left 0.5s ease;
  -ms-transition: margin-left 0.5s ease;
  transition: margin-left 0.5s ease;
  width: 200px;
  z-index: 3;
}
#sidebar_left_secondary.sidebar-left-lg {
  margin-left: 250px;
}
#sidebar_left_secondary ul.tray-nav {
  margin: 0;
}
#sidebar_left_secondary ul.tray-nav li.mapped a {
  color: #666;
  background: #fbfbfb;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#sidebar_left_secondary ul.tray-nav.tray-nav-border li.active:hover:after {
  background-color: #3498db;
}
#sidebar_left_secondary ul.tray-nav.tray-nav-border li.mapped:after,
#sidebar_left_secondary ul.tray-nav.tray-nav-border li.mapped:hover:after {
  background-color: #de5858;
}
#sidebar_left_secondary .sidebar-return-top {
  background-color: #eaeaea;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  bottom: 49px;
  height: 25px;
  right: 9px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 25px;
  z-index: 1;
}
#sidebar_left_secondary .sidebar-return-top:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}
#sidebar_left_secondary .sidebar-return-top span {
  color: #aaa;
  font-size: 12px;
  position: relative;
  top: 3px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#sidebar_left_secondary .sidebar-return-top span:hover {
  color: #666;
}
.nano.affix > .nano-pane {
  left: 0;
  right: auto;
  width: 4px;
}
.panel-control-map-marker:after {
  content: "\f041";
}
.panel-control-chat:after {
  content: "\f075";
}
@media (max-width: 1100px) {
  #content_wrapper {
    margin-left: 250px;
    left: 0;
  }
}
#content {
  padding: 0;
}
#content .main-view .pagination {
  margin: 0 auto 15px;
}
#content-footer.affix {
  margin: 0;
  z-index: 4;
}
@media (max-width: 991px) {
  #content .col-md-2 + .col-md-2,
  #content .col-md-2 + .col-md-4,
  #content .col-md-2 + .col-md-6,
  #content .col-md-4 + .col-md-2,
  #content .col-md-4 + .col-md-4,
  #content .col-md-4 + .col-md-6,
  #content .col-md-6 + .col-md-2,
  #content .col-md-6 + .col-md-4,
  #content .col-md-6 + .col-md-6 {
    padding-top: 0;
  }
}
.footer-help-links {
  margin-bttom: 0;
  padding-left: 0;
}
.footer-help-links li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
.footer-help-links li a {
  color: #aaa;
}
