#topbar {
  position: fixed;
}
#topbar.alt {
  min-height: 69px;
  padding: 19px 22px;
}
#content {
  padding: 95px 20px 50px 21px;
}
.sidebar-menu > li:last-child a {
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
.sidebar-menu > li > a {
  border-top: 1px solid rgba(255,255,255,0.05);
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.sidebar-menu > li > a:hover {
  background-color: #585858;
}
.sidebar-menu > li > a:hover:before {
  background-color: #4a89dc;
  bottom: 0;
  content: "";
  display: block;
  right: 0;
  position: absolute;
  top: 0;
  width: 4px;
}
.sidebar-menu > li.active > a {
  background-color: #6b6b6b;
}
.sidebar-menu > li.active > a:before {
  background-color: #4a89dc;
  bottom: 0;
  content: "";
  display: block;
  right: 0;
  position: absolute;
  top: 0;
  width: 4px;
}
.sidebar-menu .sidebar-label-tray {
  position: absolute;
  right: 13px;
  top: 6px;
}
.panel-control-map-marker:after {
  content: "\f041";
}
@media (max-width: 1100px) {
  #content_wrapper {
    margin-left: 250px;
    left: 0;
  }
}
