@import nib

primary-color-blue = #3498db
primary-color-red = #de5858

.navbar-brand
  border-bottom 3px solid #6e6e6e

  img
    height 60px
    padding 5px 0

#topbar
  position fixed

#topbar .nav.nav-list-topbar li a
  border none
  padding-bottom 15px
  position relative

  &:before
    background-color primary-color-blue
    bottom 0
    content: ""
    height 3px
    right 0
    position absolute
    transition width 0.5s ease
    width 0

#topbar .nav.nav-list-topbar li.active a
  border none

  &:before
    width 100%

#topbar .nav.nav-list-topbar li.location-tab a:before,
#topbar .nav.nav-list-topbar li.active.location-tab a:before
  background-color primary-color-red
  //left 0

#sidebar_left
  z-index 1

.nano.affix > .nano-pane
  left 0
  right auto
  width 4px

.sidebar-menu
  > li

    &:last-child a
      border-bottom 1px solid rgba(255, 255, 255, .05)

    > a
      border-top 1px solid rgba(255, 255, 255, .05)
      transition background-color 0.2s linear

      &:hover
        background-color #585858

        &:before
          background-color #ffffff
          bottom 0
          content ""
          display block
          right 0
          position absolute
          top 0
          width 4px

    &.active > a:before
      background-color primary-color-blue
      bottom 0
      content ""
      display block
      right 0
      position absolute
      top 0
      width 4px

    &.mapped > a

      &:before
        background-color primary-color-red
        bottom 0
        content ""
        display block
        right 0
        position absolute
        top 0
        width 4px

      > span:nth-child(1)
        color primary-color-red

    &.active.mapped > a:before
      background-color primary-color-blue

  .sidebar-label-tray
    position absolute
    right 13px
    top 6px

.panel-control-map-marker:after
  content "\f041"

@media (max-width: 1100px)
  #content_wrapper
    margin-left 250px
    left 0

#content
  padding 0

  .main-view .pagination
      margin 0 auto 15px