@import nib

primary-color-blue = #3498db
primary-color-red = #de5858

.navbar-branding
  width 275px

  .navbar-brand
    padding 0

    img
      height 60px
      padding 5px 0

#topbar .nav.nav-list-topbar li.active.location-tab a
  border-color primary-color-red

.sidebar-menu
  > li

    &:last-child a
      border-bottom 1px solid rgba(255, 255, 255, .05)

    > a
      border-top 1px solid rgba(255, 255, 255, .05)
      transition background-color 0.2s linear

      &:hover
        background-color #585858

        &:before
          background-color #ffffff
          bottom 0
          content ""
          display block
          right 0
          position absolute
          top 0
          width 4px

    &.active > a:before
      background-color primary-color-blue
      bottom 0
      content ""
      display block
      right 0
      position absolute
      top 0
      width 4px

    &.mapped > a

      &:before
        background-color primary-color-red
        bottom 0
        content ""
        display block
        right 0
        position absolute
        top 0
        width 4px

      > span:nth-child(1)
        color primary-color-red

  .sidebar-label-tray
    position absolute
    right 13px
    top 6px

.panel-control-map-marker:after
  content "\f041"

@media (max-width: 1100px)
  #content_wrapper
    margin-left 250px
    left 0