
<div class="topbar-left">
  <ul class="nav nav-list nav-list-topbar">
    <li ui-sref-active="active" ng-if="vm.identity.isAuthorized('admin')"><a ui-sref="admin.create-employee">Create Employee</a></li>
    <li ui-sref-active="active" ng-if="vm.identity.isAuthorized('admin')"><a ui-sref="admin.update-employee">Update Employee</a></li>
    <li ui-sref-active="active" ng-if="vm.identity.isAuthorized('admin')"><a ui-sref="admin.seat-picker">Seat Assignment</a></li>
    <li ui-sref-active="active" ng-if="vm.identity.isAuthenticated()"><a ui-sref="admin.user-profile">User Profile</a></li>
    <li ui-sref-active="active" ng-if="vm.identity.isAuthorized('super-admin')"><a ui-sref="admin.create-user">Create User</a></li>
    <li ui-sref-active="active" ng-if="vm.identity.isAuthorized('super-admin')"><a ui-sref="admin.update-user">Update User</a></li>
  </ul>
</div>