.topbar-left
    ul.nav.nav-list.nav-list-topbar
        li(ui-sref-active="active", ng-if="vm.identity.isAuthorized('admin')")
            a(ui-sref="admin.create-employee") Create Employee
        li(ui-sref-active="active", ng-if="vm.identity.isAuthorized('admin')")
            a(ui-sref="admin.update-employee") Update Employee
        li(ui-sref-active="active", ng-if="vm.identity.isAuthorized('super-admin')")
            a(ui-sref="admin.users") User List
        li(ui-sref-active="active", ng-if="vm.identity.isAuthorized('super-admin')")
            a(ui-sref="admin.create-user") Create User
        li(ui-sref-active="active", ng-if="vm.identity.isAuthenticated()")
            a(ui-sref="admin.update-user") Update User