.topbar-left
    ul.nav.nav-list.nav-list-topbar
        li.location-tab(ui-sref-active="active")
            a(ui-sref="admin.seat-picker.buf-6") BUF Floor 6
        li.location-tab(ui-sref-active="active")
            a(ui-sref="admin.seat-picker.buf-7") BUF Floor 7
        li.location-tab(ui-sref-active="active")
            a(ui-sref="admin.seat-picker.buf-8") BUF Floor 8
        li.location-tab(ui-sref-active="active")
            a(ui-sref="admin.seat-picker.nyc-6") NYC Floor 6