.directory-item-selector(ed-nanoscroller)
    h5
        span.fa.fa-users
        span Select User
        span.label.label-xs.bg-primary {{vm.users.length}}
    ul.nav.tray-nav.tray-nav-border
        li.directory-item(ng-repeat="user in vm.users", ng-class="{'active': user.selected}")
            a(ng-click="vm.selectUser(user)")
                span {{::user.lastName}}, {{::user.firstName}}