.row
    .col-md-6
        a.boxed-link.text-center(ui-sref="printers.profile")
            .icon-print.fs100.mb30.profile-color
            h4 Printer Profiles
    .col-md-6
        a.boxed-link.text-center(ui-sref="printers.map")
            .fa.fa-map-marker.fs100.mb30.location-color
            h4 Printer Location