.row
    .col-md-4.col-xl-2
        a.boxed-link.text-center(ui-sref="printers.profile")
            .icon-print.fs100.profile-color
            h4 Printer Profiles
    .col-md-4.col-xl-2
        a.boxed-link.text-center(ui-sref="printers.map")
            .fa.fa-map-marker.fs100.location-color
            h4 Printer Location