.topbar-left
    ul.nav.nav-list.nav-list-topbar
        li(ui-sref-active-eq="active")
            a(ui-sref="help") Help
        li(ui-sref-active="active")
            a(ui-sref="help.navigation") Navigation
        li(ui-sref-active="active")
            a(ui-sref="help.profile") Profile
        li(ui-sref-active="active")
            a(ui-sref="help.location") Location
        li(ui-sref-active="active")
            a(ui-sref="help.org-chart") Org Chart