extends ../includes/layout

block main-content
    #main
        header.navbar.navbar-fixed-top.navbar-shadow
            .navbar-branding
                a.navbar-brand(ui-sref="employees.profile")
                    img(src="/images/liazon-directory.svg")
        ed-sidebar-left
        section#content_wrapper
            header#topbar.ph10
                div.topbar-view(ui-view="topbar")
            section#content
                div.main-view(ui-view="main")
        ed-footer