extends ../includes/layout

block main-content
    header.navbar.navbar-fixed-top.navbar-shadow
        .navbar-branding
            .navbar-brand <b>Employee</b>Directory
    aside.sidebar.sidebar-left.affix
        .sidebar-left-content
            div(ui-view="sidebar")
    section.page-content-wrapper
        header.topbar
            a(ui-sref="main") Home
            span /
            a(ui-sref="seat-map") Seat Map
            span /
            a(ui-sref="admin.update-employee") Update Employee
        div.container-fluid.page-content
            div(ui-view="main")
