<!DOCTYPE html>
<html>
  <head>
    <title>Liazon Directory</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link rel="stylesheet" href="/bower_components/toastr/toastr.css">
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/icomoon-bower/dist/css/style.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/theme-overrides.css">
    <link rel="stylesheet" href="/css/admin-form.css">
    <link rel="stylesheet" href="/css/admin-form-overrides.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/org-chart.css">
    <link rel="stylesheet" href="/css/guilds.css">
    <link rel="stylesheet" href="/css/committees.css">
    <link rel="stylesheet" href="/css/seat-map.css">
    <link rel="stylesheet" href="/css/map-marker.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <base href="/">
  </head>
  <body ng-app="app">
    <div id="main">
      <ed-header></ed-header>
      <ed-sidebar-left></ed-sidebar-left>
      <section id="content_wrapper">
        <header id="topbar">
          <div ui-view="topbar" class="topbar-view"></div>
        </header>
        <section id="content">
          <div ui-view="main" class="main-view"></div>
        </section>
      </section>
      <ed-footer></ed-footer>
    </div>
    <script type="text/javascript" src="build-assets/vendor-c1d02b5cc9.js"></script>
    <script type="text/javascript" src="build-assets/main-123e308791.js"></script>
  </body>
</html>