extends ../includes/layout

block main-content
    #main
        header.navbar.navbar-fixed-top.navbar-shadow
            .navbar-branding
                .navbar-brand <b>Employee</b>Directory
        aside#sidebar_left.nano.nano-light.sidebar-default.affix
            .sidebar-left-content.nano-content
                div(ui-view="sidebar")
        section#content_wrapper
            header#topbar.alt
                .top-bar-left
                    ol.breadcrumb
                        li.crumb-active
                            a(ui-sref="main") Home
                        li.crumb-link
                            a(ui-sref="seat-map") Seat Map
                        li.crumb-link
                            a(ui-sref="admin.update-employee") Update Employee
            section#content
                div(ui-view="main")
            footer#content-footer.affix
                .row
                    .col-xs-6
                        span.footer-legal &copy; 2015 The Maestro
                    .col-xs-6.text-right
                        a.footer-return-top(href="#content_wrapper")
                            span.fa.fa-arrow-up