extends ../includes/layout

block main-content
    ed-today-panel
    #main
        ed-header
        ed-sidebar-left
        section#content_wrapper
            header#topbar
                div.topbar-view(ui-view="topbar")
            section#content
                div.main-view(ui-view="main")
        ed-footer