
<div class="panel">
  <div class="panel-heading"><span class="panel-icon mr10"><i class="icon icon-Leslie"></i></span><span class="panel-title">Employee Profile</span><span class="panel-controls"><a href="sip:{{::twEmail}}" class="panel-control-chat"></a><a ui-sref="employees.org-chart({employee: employee.eid})" class="panel-control-org"></a><a ng-if="employee.seat" ng-click="vm.mapEmployee(employee)" class="panel-control-map-marker"></a><a ng-click="vm.editEmployee(employee)" ng-if="vm.identity.isAuthorized('admin')" class="panel-control-title"></a><a ng-click="deselectEmployee(employee)" class="panel-control-remove"></a></span></div>
  <div class="panel-body pn">
    <div class="row table-layout">
      <div class="col-xs-4 text-center va-t of-h"><img ng-src="/images/employee-photos/{{::employee.image}}" ng-if="employee.image" class="employee-photo mt10 mb10"/><span ng-if="!employee.image" class="fa fa-user fs100 mt20"></span>
        <ul class="list-inline guilds">
          <li ng-repeat="guild in employee.guilds" class="{{::guild}}-guild"><a ui-sref="guilds.{{::guild}}" class="link-unstyled"><span class="icon icon-guild-front-end fs26"></span></a></li>
        </ul>
      </div>
      <div class="col-xs-8 br-l pn admin-form">
        <table class="table mbn">
          <tbody>
            <tr>
              <td class="va-m fw600">{{::employee.displayName}}</td>
            </tr>
            <tr>
              <td class="va-m fw600 text-muted">{{::employee.title}}</td>
            </tr>
            <tr>
              <td class="va-m fw600 text-muted"><a ui-sref="employees({department: employee.department})" class="text-muted">{{::employee.department}}</a></td>
            </tr>
            <tr ng-if="employee.team">
              <td class="va-m fw600 text-muted"><span class="fa fa-group mr10"></span><a ui-sref="employees({team: employee.team})" class="text-muted">{{::employee.team}}</a></td>
            </tr>
            <tr ng-if="employee.manager">
              <td class="va-m fw600 text-muted"><span class="icon-user-4 mr10"></span><a ui-sref="employees({employeeid: employee.mid})" class="text-muted">{{::employee.manager}}</a></td>
            </tr>
            <tr ng-if="employee.email">
              <td class="va-m fw600 text-muted"><span class="fa fa-envelope mr10"></span><a href="mailto:{{::employee.email}}" class="text-muted">{{::employee.email}}</a></td>
            </tr>
            <tr ng-if="employee.ext">
              <td class="va-m fw600 text-muted"><span class="fa fa-phone mr10"></span>Internal: {{::employee.ext}}</td>
            </tr>
            <tr ng-if="employee.phone">
              <td class="va-m fw600 text-muted"><span class="fa fa-phone mr10"></span>Desk: {{::employee.phone | edPhoneNumberFilter}}</td>
            </tr>
            <tr ng-if="employee.location">
              <td ng-click="vm.mapEmployee(employee)" ng-if="employee.seat" class="va-m fw600 cursor text-muted"><span class="fa fa-map-marker fs15 mr10"></span><a class="text-muted"><span class="text-uppercase">{{::employee.location}}</span>&nbsp;/ Floor: {{::employee.floor}} / View Seat</a></td>
              <td ng-if="!employee.seat" class="va-m fw600 text-muted"><span class="fa fa-map-marker fs15 mr10"></span><span ng-if="employee.location === 'buf'">Buffalo</span><span ng-if="employee.location === 'nyc'">NYC</span><span ng-if="employee.location === 'oth'">Remote</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>