.directory-item-selector(ed-nanoscroller)
    .directory-item-filter
        .panel
            .panel-heading
                span.panel-icon
                    i.fa.fa-filter.text-primary
                span.panel-title Employees Filter
                span.panel-controls(ng-if="vm.team || vm.department || vm.employeeName || vm.locations.length > 0 || vm.floors.length > 0")
                    a.panel-control-remove(ng-click="vm.clearFilter()")
            .panel-body.p10
                form.form-horizontal(name="employeesFilter")
                    .form-group.mln.mrn
                        .pn
                            input.form-control.input-sm(type="text" name="employeeName" placeholder="First or Last Name", ng-model="vm.employeeName")
                    .form-group.mln.mrn
                        .pn
                            div.bs-component
                                select.form-control.input-sm(name="department", ng-model="vm.department", ng-options="employee.department as employee.department for employee in vm.employees | unique: 'department' | orderBy: 'department'")
                                    option(value="", selected) All Departments
                    .form-group.mln.mrn
                        .pn
                            div.bs-component
                                select.form-control.input-sm(name="team", ng-model="vm.team", ng-options="employee.team as employee.team for employee in vm.employees | filter: {department: vm.department || undefined} | filter: {team : '!!'} | unique: 'team' | orderBy: 'team'")
                                    option(value="", selected) All Teams
                    .form-group.mln.mrn
                        span.control-label.pn.pull-left
                            label(ng-class="{'text-primary' : vm.locations.length > 0}") Locations
                        span.pn.pl15.pull-left
                            .checkbox-custom.checkbox-default
                                input(type="checkbox", id="buf", ng-model="vm.location['buf']", ng-change="vm.filterLocations('buf')")
                                label.location(for="buf") BUF
                        span.pn.pl20.pull-left
                            .checkbox-custom.checkbox-default
                                input(type="checkbox", id="nyc", ng-model="vm.location['nyc']", ng-change="vm.filterLocations('nyc')")
                                label.location(for="nyc") NYC
                    .form-group.mln.mrn(ng-class="{'floors-disabled' : vm.nycOnly()}")
                        span.control-label.pn.pull-left
                            label(ng-class="{'text-primary' : vm.floors.length > 0}") BUF Floor
                        span.pn.pl15.pull-left
                            .checkbox-custom.checkbox-default
                                input(type="checkbox", id="floor6", ng-model="vm.floor['6']", ng-change="vm.filterFloors(6)", ng-disabled="vm.nycOnly()")
                                label(for="floor6") 6
                        span.pn.pl15.pull-left
                            .checkbox-custom.checkbox-default
                                input(type="checkbox", id="floor7", ng-model="vm.floor['7']", ng-change="vm.filterFloors(7)", ng-disabled="vm.nycOnly()")
                                label(for="floor7") 7
                        span.pn.pl15.pull-left
                            .checkbox-custom.checkbox-default
                                input(type="checkbox", id="floor8", ng-model="vm.floor['8']", ng-change="vm.filterFloors(8)", ng-disabled="vm.nycOnly()")
                                label(for="floor8") 8
                    button.btn.btn-xs.btn-success.pull-right(type="submit", ng-click="vm.selectAll()", ng-disabled="!vm.allowSelectAll || vm.displayEmployeeInfoType !== 'profile'") Select All
                    button.btn.btn-xs.btn-warning.pull-left(type="button", ng-click="vm.selectNone()", ng-disabled="!vm.allowSelectAll || vm.displayEmployeeInfoType !== 'profile'") Select None
    h5
        span.fa.fa-users
        span Select Employees
    ul.nav.tray-nav.tray-nav-border
        li.directory-item(ng-repeat="employee in (vm.filteredEmployees = (vm.employees | orderBy: ['lastName', 'firstName'] | filter: (vm.department || undefined) | filter: (vm.team || undefined) | filterBy: ['firstName','lastName', 'nickname'] : vm.employeeName | filter: vm.locationFilter | filter: vm.floorFilter))", ng-class="{'active': employee.selected, 'mapped': employee.mapped}")
            a(ng-click="vm.selectEmployee(employee)")
                span {{::employee.lastName}},&nbsp;
                span(ng-if="employee.nickname") {{::employee.nickname}}
                span(ng-if="!employee.nickname") {{::employee.firstName}}