
<div class="topbar-left">
  <ul class="nav nav-list nav-list-topbar">
    <li ui-sref-active="active" class="profile-tab"><a ui-sref="employees.profile">Employee Profiles<span ng-if="vm.selectedEmployees.length &gt; 0" class="label label-xs bg-primary ml10">{{vm.selectedEmployees.length}}</span></a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="employees.map">Employee Location</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="employees.map.buf-6">BUF 6</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="employees.map.buf-7">BUF 7</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="employees.map.buf-8">BUF 8</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="employees.map.nyc-6">NYC</a></li>
    <li ui-sref-active="active"><a ui-sref="employees.org-chart">Org Chart</a></li>
  </ul>
</div>