.topbar-left
    ul.nav.nav-list.nav-list-topbar
        li.profile-tab(ui-sref-active="active")
            a(ui-sref="employees.profile") Employee Profiles
        li.location-tab(ui-sref-active="active")
            a(ui-sref="employees.map") Employee Location
        li.location-tab(ui-sref-active="active")
            a(ui-sref="employees.map.buf-6") BUF 6
        li.location-tab(ui-sref-active="active")
            a(ui-sref="employees.map.buf-7") BUF 7
        li.location-tab(ui-sref-active="active")
            a(ui-sref="employees.map.buf-8") BUF 8
        li.location-tab(ui-sref-active="active")
            a(ui-sref="employees.map.nyc-6") NYC
        li(ui-sref-active="active")
            a(ui-sref="employees.org-chart") Org Chart