.topbar-left
    ul.nav.nav-list.nav-list-topbar
        li.profile-tab(ui-sref-active-eq="active")
            a(ui-sref="employees") Employee Profiles
        li.location-tab(ui-sref-active="active")
            a(ui-sref="employees.map") Employee Location
        li.location-tab(ui-sref-active="active")
            a(ui-sref="employees.map.floor-7") 7th Floor
        li.location-tab(ui-sref-active="active")
            a(ui-sref="employees.map.floor-8") 8th Floor