
<div ng-if="!vm.guild.name" class="center-block employee-group mw600">
  <div class="text-center employee-group-header mb30"><img src="/images/guild-icons/guilds.svg" class="mb20"/>
    <div class="fs20">Developer Guilds</div>
  </div>
  <p>Developer Guilds are made up of subject matter experts from different development teams.  The members of each guild are responsible for defining standards, disseminating information and maintaining consistency and quality with regard to the subject matter of their guild.</p>
  <div class="row">
    <div class="col-md-6"><a ui-sref="guilds.front-end" class="boxed-link text-center">
        <div class="icon-guild icon-guild-front-end fs120 guilds-color"></div>
        <h4>Front-End</h4></a></div>
    <div class="col-md-6"><a ui-sref="guilds.architecture" class="boxed-link text-center">
        <div class="icon-guild icon-guild-architecture fs120 guilds-color"></div>
        <h4>Architecture</h4></a></div>
    <div class="col-md-6"><a ui-sref="guilds.quality" class="boxed-link text-center">
        <div class="icon-guild icon-guild-quality fs120 guilds-color"></div>
        <h4>Quality</h4></a></div>
  </div>
</div>
<div ng-if="vm.guild.name" class="center-block employee-group">
  <div class="text-center employee-group-header mb30"><span class="icon-guild fs120 guilds-color icon-guild-{{::vm.guild.name}}"></span>
    <div class="fs20 mt20"><span>{{::vm.guild.name}}</span>&nbsp;Developer Guild</div>
  </div>
  <p ng-if="vm.guild.name === 'front-end'">The Front-End Developer Guild was created to develop and enforce front-end standards and ensure consistency, quality, and continued innovation for the Benefits Marketplace, Bright Choices, and Global Access Products. Each Feature Team has one embedded Guild Member who works towards keeping the employee portals solid, inventive and easy to use.</p>
  <p ng-if="vm.guild.name === 'architecture'">The Architecture Standards and Conventions Guild was created to develop and enforce architectural standards and ensure consistency and quality of code across all development projects. Each Engineering Team has one embedded Guild Member who works on creating department wide architectural standards and is responsible for enforcement on their own team.</p>
  <p ng-if="vm.guild.name === 'quality'">The Quality Guild was formed to develop standards and guidelines around quality best practices for all development projects. The Quality Guild consists of one member from each feature delivery team that will come together to create and enforce standards across the teams for high quality, user friendly and consistent employee portals.</p>
  <h3 class="mv30 fw400 text-center">Members</h3>
  <ul vertilize-container="vertilize-container" class="text-center employee-group-members">
    <li ng-repeat="member in vm.guildMembers" ng-click="vm.profileEmployee(member)" vertilize="vertilize" page="org-chart"><img ng-src="/images/employee-photos/{{member.image}}" ng-show="member.image"/><span ng-hide="member.image" class="fa fa-user fs70"></span>
      <h5>{{member.displayName}}</h5>
      <h6>{{member.title}}</h6>
    </li>
  </ul>
</div>