.well
    form.form-horizontal(name="employeeProfileForm")
        fieldset
            legend Employee Profile
            .form-group
                label.col-md-2.control-label(for="fame") First Name
                .col-md-10
                    input.form-control(name="fname", type="text", placeholder="First Name", ng-model="vm.fname", required)
            .form-group
                label.col-md-2.control-label(for="lname") Last Name
                .col-md-10
                    input.form-control(name="lname", type="text", placeholder="Last Name", ng-model="vm.lname", required)
            .form-group
                label.col-md-2.control-label(for="gender") Gender
                .col-md-10
                    select.form-control(name="gender", ng-model="vm.gender", ng-options="gender.value as gender.text for gender in vm.genderOptions")
            .form-group
                .col-md-10.col-offset-2
                    .pull-right
                        button.btn.btn-primary(ng-click="vm.updateEmployee()", ng-disabled="employeeProfileForm.$invalid") Submit
                        | &nbsp;
                        a.btn.btn-default(href="/admin/login") Cancel
