h5.events-color {{selectedEvent.title}}
h5  Date:
p {{selectedEvent.day}}
div(ng-if="!selectedEvent.allDay")
    h5 Time:
    p {{selectedEvent.start}} - {{selectedEvent.end}}
div(ng-if="selectedEvent.location")
    h5 Office:
    p {{selectedEvent.location}}
h5  Details:
p(ng-bind-html="selectedEvent.details")