
<div class="mw1000 center-block">
  <div class="admin-form theme-primary">
    <form name="createEmployeeForm" novalidate="novalidate">
      <div class="panel heading-border panel-primary">
        <div class="panel-body bg-light">
          <div class="section-divider"><span>Create New Employee</span></div>
          <div class="row">
            <div class="col-md-1">
              <div class="section">
                <label ng-class="{'state-error': createEmployeeForm.eid.$invalid &amp;&amp; !createEmployeeForm.eid.$pristine}" class="field">
                  <input name="eid" type="text" placeholder="ID" ng-model="vm.newEmployee.eid" focus-if="true" focus-delay="1000" required="required" class="gui-input"/>
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="section">
                <label ng-class="{'state-error': createEmployeeForm.firstName.$invalid &amp;&amp; !createEmployeeForm.firstName.$pristine}" class="field">
                  <input name="firstName" type="text" placeholder="First Name" ng-model="vm.newEmployee.firstName" required="required" class="gui-input"/>
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="section">
                <label ng-class="{'state-error': createEmployeeForm.lastName.$invalid &amp;&amp; !createEmployeeForm.lastName.$pristine}" class="field">
                  <input name="lastName" type="text" placeholder="Last Name" ng-model="vm.newEmployee.lastName" required="required" class="gui-input"/>
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="section">
                <label class="field">
                  <input name="nickname" type="text" placeholder="Nickname" ng-model="vm.newEmployee.nickname" class="gui-input"/>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="section">
                <label class="field prepend-icon file"><span class="button btn-primary">Choose File</span>
                  <input type="file" name="image" ng-model="vm.newEmployee.image" ngf-select="ngf-select" ngf-max-size="300000" accept="image/*" onchange="document.getElementById('employee-photo').focus(); document.getElementById('employee-photo').value = this.value.replace('C:\\fakepath\\', '')" class="gui-file"/>
                  <input type="text" placeholder="Employee Photo" id="employee-photo" class="gui-input"/>
                  <label class="field-icon"><i class="fa fa-upload"></i></label>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="section">
                <label ng-class="{'state-error': createEmployeeForm.email.$invalid &amp;&amp; !createEmployeeForm.email.$pristine}" class="field">
                  <input name="email" type="text" placeholder="Email" ng-model="vm.newEmployee.email" required="required" class="gui-input"/>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="section">
                <label ng-class="{'state-error': createEmployeeForm.department.$invalid &amp;&amp; !createEmployeeForm.department.$pristine}" class="field">
                  <input name="department" type="text" placeholder="Department" ng-model="vm.newEmployee.department" required="required" class="gui-input"/>
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="section">
                <label ng-class="{'state-error': createEmployeeForm.title.$invalid &amp;&amp; !createEmployeeForm.title.$pristine}" class="field">
                  <input name="title" type="text" placeholder="Title" ng-model="vm.newEmployee.title" required="required" class="gui-input"/>
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="section">
                <label class="field">
                  <input name="team" type="text" placeholder="Team" ng-model="vm.newEmployee.team" class="gui-input"/>
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="section">
                <label class="field select">
                  <select name="manager" ng-model="vm.newEmployee.mid" ng-options="manager.eid as manager.firstName + ' ' + manager.lastName for manager in vm.managers | orderBy: 'lastName'">
                    <option disabled="disabled" value="">Manager</option>
                  </select><i class="arrow"></i>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="section">
                <label ng-class="{'state-error': createEmployeeForm.phone.$invalid &amp;&amp; !createEmployeeForm.phone.$pristine}" class="field">
                  <input name="phone" type="text" placeholder="Phone" ng-model="vm.newEmployee.phone" ng-pattern="/^[0-9]{10}$/" class="gui-input"/>
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <label class="field">
                  <input name="ext" type="text" placeholder="Ext" ng-model="vm.newEmployee.ext" class="gui-input"/>
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <label ng-class="{'state-error': createEmployeeForm.location.$invalid &amp;&amp; !createEmployeeForm.location.$pristine}" class="field select">
                  <select name="location" ng-model="vm.newEmployee.location" ng-options="location.value as location.text for location in vm.locationOptions" require="require">
                    <option disabled="disabled" value="">Location</option>
                  </select><i class="arrow"></i>
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <label class="field select">
                  <select name="floor" ng-disabled="!vm.newEmployee.location || vm.newEmployee.location === 'oth'" ng-model="vm.newEmployee.floor" ng-options="desk.floor as desk.floor for desk in vm.desks | filterBy: ['location'] : vm.newEmployee.location | unique: 'floor' | orderBy: 'floor'">
                    <option disabled="disabled" value="">Floor</option>
                  </select><i class="arrow"></i>
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <label class="field select">
                  <select name="seat" ng-disabled="!vm.newEmployee.floor" ng-model="vm.newEmployee.seat" ng-options="desk.seat as desk.seat for desk in vm.desks | filterBy: ['location'] : vm.newEmployee.location | filterBy: ['floor'] : vm.newEmployee.floor | orderBy: ['section','seat']">
                    <option disabled="disabled" value="">Seat</option>
                  </select><i class="arrow"></i>
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <label class="option option-primary mt10">
                  <input type="checkbox" name="hasReports" ng-model="vm.newEmployee.hasReports"/><span class="checkbox"></span>Has Reports
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer text-right">
          <button type="submit" ng-click="vm.createEmployee();" onclick="document.getElementById('employee-photo').value = ''" ng-disabled="createEmployeeForm.$invalid" class="button btn-primary">Submit</button>
          <button type="reset" class="button btn-default">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>