
<div class="mw1000 center-block">
  <div class="admin-form theme-primary">
    <form name="signupForm" novalidate="novalidate">
      <div class="panel heading-border panel-primary">
        <div class="panel-body bg-light">
          <div class="section-divider"><span>New User Information</span></div>
          <div class="row">
            <div class="col-md-6">
              <div class="section">
                <label for="fname" class="field prepend-icon">
                  <input name="fname" type="text" placeholder="First Name" ng-model="vm.newUser.firstName" focus-if="true" focus-delay="1000" required="required" class="gui-input"/>
                  <label for="fname" class="field-icon"><i class="fa fa-user"></i></label>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="section">
                <label for="lname" class="field prepend-icon">
                  <input name="lname" type="text" placeholder="Last Name" ng-model="vm.newUser.lastName" required="required" class="gui-input"/>
                  <label for="lname" class="field-icon"><i class="fa fa-user"></i></label>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="section">
                <label for="username" class="field prepend-icon">
                  <input name="username" type="text" placeholder="Username" ng-model="vm.newUser.username" required="required" class="gui-input"/>
                  <label for="username" class="field-icon"><i class="fa fa-male"></i></label>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="section">
                <label for="password" class="field prepend-icon">
                  <input name="password" type="password" placeholder="Password" ng-model="vm.newUser.password" required="required" class="gui-input"/>
                  <label for="password" class="field-icon"><i class="fa fa-lock"></i></label>
                </label>
              </div>
            </div>
          </div>
          <div class="section-divider"><span>Roles</span></div>
          <div class="row">
            <div class="col-md-2">
              <div class="section">
                <label class="option option-primary mt10">
                  <input type="checkbox" name="roles-user" ng-model="vm.newUser.roles['user']"/><span class="checkbox"></span>User
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <label class="option option-primary mt10">
                  <input type="checkbox" name="roles-admin" ng-model="vm.newUser.roles['admin']"/><span class="checkbox"></span>Admin
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <label class="option option-primary mt10">
                  <input type="checkbox" name="roles-super-admin" ng-model="vm.newUser.roles['super-admin']"/><span class="checkbox"></span>Super Admin
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer text-right">
          <button type="submit" ng-click="vm.createUser()" ng-disabled="signupForm.$invalid" class="button btn-primary">Save</button>
          <button ui-sref="admin" class="button btn-default">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>