.mw1000.center-block
    .admin-form.theme-primary
        form(name="createEmployeeForm", novalidate)
            .panel.heading-border.panel-primary
                .panel-body.bg-light
                    .section-divider
                        span Create New Employee
                    .row
                        .col-md-2
                            .section
                                label.field(ng-class="{'state-error': createEmployeeForm.eid.$invalid && !createEmployeeForm.eid.$pristine}")
                                    input.gui-input(name="eid", type="text", placeholder="ID", ng-model="vm.newEmployee.eid", focus-if="true", focus-delay="1000", required)
                        .col-md-4
                            .section
                                label.field(ng-class="{'state-error': createEmployeeForm.firstName.$invalid && !createEmployeeForm.firstName.$pristine}")
                                    input.gui-input(name="firstName", type="text", placeholder="First Name", ng-model="vm.newEmployee.firstName", required)
                        .col-md-4
                            .section
                                label.field(ng-class="{'state-error': createEmployeeForm.lastName.$invalid && !createEmployeeForm.lastName.$pristine}")
                                    input.gui-input(name="lastName", type="text", placeholder="Last Name", ng-model="vm.newEmployee.lastName", required)
                        .col-md-2
                            .section
                                label.field
                                    input.gui-input(name="nickname", type="text", placeholder="Nickname", ng-model="vm.newEmployee.nickname")
                    .row
                        .col-md-5
                            .section
                                label.field.prepend-icon.file
                                    span.button.btn-primary Choose File
                                    input.gui-file(type="file", name="image", ng-model="vm.newEmployee.image", ngf-select, ngf-max-size="300000", accept="image/*", onchange="document.getElementById('employee-photo').focus(); document.getElementById('employee-photo').value = this.value.replace('C:\\\\fakepath\\\\', '')")
                                    input.gui-input(type="text", placeholder="Employee Photo", id="employee-photo")
                                    label.field-icon
                                        i.fa.fa-upload
                        .col-md-4
                            .section
                                label.field(ng-class="{'state-error': createEmployeeForm.email.$invalid && !createEmployeeForm.email.$pristine}")
                                    input.gui-input(name="email", type="email", placeholder="Email", ng-model="vm.newEmployee.email", required)
                        .col-md-3
                            .section
                                label.field.prepend-icon(moment-picker="vm.newEmployee.hireDate", format="LL")
                                    input.gui-input(id="hireDate", placeholder="Hire Date", ng-model="vm.newEmployee.hireDate", ng-model-options="{ updateOn: 'blur' }")
                                    label.field-icon(for="hireDate")
                                        i.fa.fa-calendar-plus-o
                    .row
                        .col-md-3
                            .section
                                //label.field(ng-class="{'state-error': createEmployeeForm.department.$invalid && !createEmployeeForm.department.$pristine}")
                                    input.gui-input(name="department", type="text", placeholder="Department", ng-model="vm.newEmployee.department", required)

                                label.field.select
                                    select(name="department", ng-model="vm.newEmployee.department", ng-options="department for department in vm.departments | orderBy: 'department'", required)
                                        option(disabled, value="") Department
                                    i.arrow
                        .col-md-3
                            .section
                                label.field(ng-class="{'state-error': createEmployeeForm.title.$invalid && !createEmployeeForm.title.$pristine}")
                                    input.gui-input(name="title", type="text", placeholder="Title", ng-model="vm.newEmployee.title", required)
                        .col-md-3
                            .section
                                label.field
                                    input.gui-input(name="team", type="text", placeholder="Team", ng-model="vm.newEmployee.team")
                        .col-md-3
                            .section
                                label.field.select
                                    select(name="manager", ng-model="vm.newEmployee.mid", ng-options="manager.eid as manager.lastName + ', ' + manager.firstName for manager in vm.managers | orderBy: 'lastName'")
                                        option(disabled, value="") Manager
                                    i.arrow
                    .row
                        .col-md-2
                            .section
                                label.field(ng-class="{'state-error': createEmployeeForm.phone.$invalid && !createEmployeeForm.phone.$pristine}")
                                    input.gui-input(name="phone", type="text", placeholder="Phone", ng-model="vm.newEmployee.phone", ng-pattern="/^[0-9]{10}$/")
                        .col-md-1
                            .section
                                label.field
                                    input.gui-input(name="ext", type="text", placeholder="Ext", ng-model="vm.newEmployee.ext")
                        .col-md-2
                            .section
                                label.field.select(ng-class="{'state-error': createEmployeeForm.location.$invalid && !createEmployeeForm.location.$pristine}")
                                    select(name="location", ng-model="vm.newEmployee.location", ng-options="location.value as location.text for location in vm.locationOptions", require)
                                        option(disabled, value="") Location
                                    i.arrow
                        .col-md-2
                            .section
                                label.field.select
                                    select(name="floor", ng-disabled="!vm.newEmployee.location || vm.newEmployee.location === 'oth'", ng-model="vm.newEmployee.floor", ng-options="desk.floor as desk.floor for desk in vm.desks | filterBy: ['location'] : vm.newEmployee.location | unique: 'floor' | orderBy: 'floor'")
                                        option(disabled, value="") Floor
                                    i.arrow
                        .col-md-2
                            .section
                                label.field.select
                                    select(name="seat", ng-disabled="!vm.newEmployee.floor", ng-model="vm.newEmployee.seat", ng-options="desk.seat as desk.seat for desk in vm.desks | filterBy: ['location'] : vm.newEmployee.location | filterBy: ['floor'] : vm.newEmployee.floor | orderBy: ['section','seat']")
                                        option(disabled, value="") Seat
                                    i.arrow
                        .col-md-3
                            .section
                                label.field.prepend-icon(moment-picker="vm.newEmployee.birthdate", format="LL")
                                    input.gui-input(id="birthday", placeholder="Birthday", ng-model="vm.newEmployee.birthdate", ng-model-options="{ updateOn: 'blur' }")
                                    label.field-icon(for="birthday")
                                        i.fa.fa-birthday-cake
                    .row
                        .col-md-6
                            .section
                                label.option.option-primary.mt10
                                    input(type="checkbox", name="hasReports", ng-model="vm.newEmployee.hasReports")
                                    span.checkbox
                                    | This employees has people that report directory to them
                    div(ng-if="vm.identity.isAuthorized('super-admin')")
                        .section-divider
                            span Guilds
                        .row
                            .col-md-2
                                .section
                                    label.option.option-primary.mt10
                                        input(type="checkbox", name="guild-front-end", ng-model="vm.newEmployee.guilds['front-end']")
                                        span.checkbox
                                        | Front-End
                            .col-md-2
                                .section
                                    label.option.option-primary.mt10
                                        input(type="checkbox", name="guild-architecture", ng-model="vm.newEmployee.guilds['architecture']")
                                        span.checkbox
                                        | Architecture
                            .col-md-2
                                .section
                                    label.option.option-primary.mt10
                                        input(type="checkbox", name="guild-quality", ng-model="vm.newEmployee.guilds['quality']")
                                        span.checkbox
                                        | Quality
                    div(ng-if="vm.identity.isAuthorized('super-admin')")
                        .section-divider
                            span Committees
                        .row
                            .col-md-2
                                .section
                                    label.option.option-primary.mt10
                                        input(type="checkbox", name="committee-fun-games", ng-model="vm.newEmployee.committees['fun-games']")
                                        span.checkbox
                                        | Fun &amp; Games
                            .col-md-2
                                .section
                                    label.option.option-primary.mt10
                                        input(type="checkbox", name="committee-wellness", ng-model="vm.newEmployee.committees['wellness']")
                                        span.checkbox
                                        | Wellness
                            .col-md-2
                                .section
                                    label.option.option-primary.mt10
                                        input(type="checkbox", name="committee-diversity", ng-model="vm.newEmployee.committees['diversity']")
                                        span.checkbox
                                        | Diversity
                            .col-md-2
                                .section
                                    label.option.option-primary.mt10
                                        input(type="checkbox", name="committee-beautification", ng-model="vm.newEmployee.committees['beautification']")
                                        span.checkbox
                                        | Beautification
                .panel-footer.text-right
                    button.button.btn-primary(type="submit", ng-click="vm.createEmployee();" onclick="document.getElementById('employee-photo').value = ''", ng-disabled="createEmployeeForm.$invalid") Submit
                    button.button.btn-default(type="reset") Cancel