.center-block(ng-if="vm.identity.isAuthenticated()")
    .text-center
        .icon-user.fs100.mb30.profile-color
        div.fs20 Welcome, {{vm.identity.currentUser.firstName + " " + vm.identity.currentUser.lastName}}
.mw1000.center-block(ng-if="!vm.identity.isAuthenticated()")
    .admin-form.theme-primary
        form(name="loginForm", novalidate)
            .panel.heading-border.panel-primary
                .panel-body.bg-light
                    .section-divider
                        span Admin Login
                    .row
                        .col-md-6
                            .section
                                label.field
                                    input.gui-input(name="username", type="text", placeholder="Username", ng-model="vm.username", focus-if="true", focus-delay="1000", required)
                        .col-md-6
                            .section
                                label.field
                                    input.gui-input(name="password", type="password", placeholder="Password", ng-model="vm.password", required)
                .panel-footer.text-right
                    button.button.btn-primary(type="submit", ng-click="vm.signin(vm.username, vm.password)", ng-disabled="loginForm.$invalid") Sign In
                    button.button.btn-default(type="reset") Cancel