
<div ng-if="!vm.selectedEmployees.length" class="center-block">
  <div class="text-center">
    <div class="icon icon-Leslie fs100 mb30 profile-color"></div>
    <div class="fs20">Please selected an employee to update</div>
  </div>
</div>
<div ng-if="vm.selectedEmployees.length" class="center-block">
  <div class="text-center">
    <div class="fa fa-map-marker fs100 mb30 location-color"></div>
    <div class="fs20">Please selected a location for<b>&nbsp;{{vm.displayName}}</b></div>
    <div class="fs16">or make their location &nbsp;<a href="" ng-click="vm.setRemoteEmployee()">remote</a></div>
  </div>
</div>