.center-block(ng-if="!vm.selectedEmployee")
    .text-center
        .icon.icon-Leslie.fs100.mb30.profile-color
        div.fs20 Please select an employee to update
.center-block.mw1000(ng-if="vm.selectedEmployee")
    .admin-form.theme-primary
        form(name="updateEmployeeForm", novalidate)
            .panel.heading-border.panel-primary
                .panel-body.bg-light
                    .section-divider
                        span Update Employee Profile
                    .row
                        .col-md-2
                            .section
                                label.field(ng-class="{'state-error': updateEmployeeForm.eid.$invalid}")
                                    input.gui-input(name="eid", type="text", placeholder="ID", ng-model="vm.selectedEmployee.eid", required)
                        .col-md-4
                            .section
                                label.field(ng-class="{'state-error': updateEmployeeForm.firstName.$invalid}")
                                    input.gui-input(name="firstName", type="text", placeholder="First Name", ng-model="vm.selectedEmployee.firstName", required)
                        .col-md-4
                            .section
                                label.field(ng-class="{'state-error': updateEmployeeForm.lastName.$invalid}")
                                    input.gui-input(name="lastName", type="text", placeholder="Last Name", ng-model="vm.selectedEmployee.lastName", required)
                        .col-md-2
                            .section
                                label.field
                                    input.gui-input(name="nickname", type="text", placeholder="Nickname", ng-model="vm.selectedEmployee.nickname")
                    .row
                        .col-md-6
                            .section
                                label.field.prepend-icon.file
                                    span.button.btn-primary Choose File
                                    input.gui-file(type="file", name="imageFile", ng-model="vm.selectedEmployee.imageFile", ngf-select, ngf-max-size="'300KB'", ngf-pattern="'image/*'", accept="image/*", onchange="document.getElementById('employee-photo').focus(); document.getElementById('employee-photo').value = this.value.replace('C:\\\\fakepath\\\\', '')")
                                    input.gui-input(type="text", placeholder="Employee Photo", id="employee-photo")
                                    label.field-icon
                                        i.fa.fa-upload
                        .col-md-6
                            .section
                                label.field(ng-class="{'state-error': updateEmployeeForm.email.$invalid}")
                                    input.gui-input(name="email", type="email", placeholder="Email", ng-model="vm.selectedEmployee.email", required)
                    .row
                        .col-md-3
                            .section
                                label.field.select
                                    select(name="department", ng-model="vm.selectedEmployee.department", ng-options="department for department in vm.departments | orderBy: 'department'", required)
                                        option(disabled, value="") Department
                                    i.arrow
                        .col-md-3
                            .section
                                label.field(ng-class="{'state-error': updateEmployeeForm.title.$invalid}")
                                    input.gui-input(name="title", type="text", placeholder="Title", ng-model="vm.selectedEmployee.title", required)
                        .col-md-3
                            .section
                                label.field
                                    input.gui-input(name="team", type="text", placeholder="Team", ng-model="vm.selectedEmployee.team")
                        .col-md-3
                            .section
                                label.field.select
                                    select(name="manager", ng-model="vm.selectedEmployee.mid", ng-options="manager.eid as manager.lastName + ', ' + manager.firstName for manager in vm.filteredManagers | orderBy: 'lastName'")
                                        option(disabled, value="") Manager
                                    i.arrow
                    .row
                        .col-md-2
                            .section
                                label.field(ng-class="{'state-error': updateEmployeeForm.phone.$invalid}")
                                    input.gui-input(name="phone", type="text", placeholder="Phone", ng-model="vm.selectedEmployee.phone", ng-pattern="/^[0-9]{10}$/")
                        .col-md-1
                            .section
                                label.field
                                    input.gui-input(name="ext", type="text", placeholder="Ext", ng-model="vm.selectedEmployee.ext")
                        .col-md-2
                            .section
                                label.field.select(ng-class="{'state-error': updateEmployeeForm.location.$invalid}")
                                    select(name="location", ng-model="vm.selectedEmployee.location", ng-options="location.value as location.text for location in vm.locationOptions", require)
                                        option(disabled, value="") Location
                                    i.arrow
                        .col-md-2
                            .section
                                label.field.select
                                    select(name="floor", ng-disabled="!vm.selectedEmployee.location || vm.selectedEmployee.location === 'oth'", ng-model="vm.selectedEmployee.floor", ng-options="desk.floor as desk.floor for desk in vm.desks | filterBy: ['location'] : vm.selectedEmployee.location | unique: 'floor' | orderBy: 'floor'")
                                        option(disabled, value="") Floor
                                    i.arrow
                        .col-md-2
                            .section
                                label.field.select
                                    select(name="seat", ng-disabled="!vm.selectedEmployee.floor", ng-model="vm.selectedEmployee.seat", ng-options="desk.seat as desk.seat for desk in vm.desks | filterBy: ['location'] : vm.selectedEmployee.location  | filterBy: ['floor'] : vm.selectedEmployee.floor | orderBy: ['section','seat']")
                                        option(disabled, value="") Seat
                                    i.arrow
                        .col-md-3
                            .section
                                label.field.prepend-icon(for="birthday")
                                    input.gui-input.hasDatepicker(type="date", id="birthday", ng-model="vm.selectedEmployee.birthdate")
                                    label.field-icon
                                        i.fa.fa-birthday-cake
                    .row
                        .col-md-6
                            .section
                                label.option.option-primary.mt10
                                    input(type="checkbox", name="hasReports", ng-model="vm.selectedEmployee.hasReports")
                                    span.checkbox
                                    | This employees has people that report directory to them
                    div(ng-if="vm.identity.isAuthorized('super-admin')")
                        .section-divider
                            span Guilds
                        .row
                            .col-md-2
                                .section
                                    label.option.option-primary.mt10
                                        input(type="checkbox", name="guild-font-end", ng-model="vm.selectedEmployee.guilds['front-end']")
                                        span.checkbox
                                        | Front-End
                    div(ng-if="vm.identity.isAuthorized('super-admin')")
                        .section-divider
                            span Committees
                        .row
                            .col-md-2
                                .section
                                    label.option.option-primary.mt10
                                        input(type="checkbox", name="committee-fun-games", ng-model="vm.selectedEmployee.committees['fun-games']")
                                        span.checkbox
                                        | Fun &amp; Games
                            .col-md-2
                                .section
                                    label.option.option-primary.mt10
                                        input(type="checkbox", name="committee-wellness", ng-model="vm.selectedEmployee.committees['wellness']")
                                        span.checkbox
                                        | Wellness
                            .col-md-2
                                .section
                                    label.option.option-primary.mt10
                                        input(type="checkbox", name="committee-diversity", ng-model="vm.selectedEmployee.committees['diversity']")
                                        span.checkbox
                                        | Diversity
                            .col-md-2
                                .section
                                    label.option.option-primary.mt10
                                        input(type="checkbox", name="committee-beautification", ng-model="vm.selectedEmployee.committees['beautification']")
                                        span.checkbox
                                        | Beautification
                .panel-footer.text-right
                    button.button.btn-danger.pull-left(type="button", ng-click="vm.deleteEmployee()") Delete Employee
                    button.button.btn-primary(type="submit", ng-click="vm.updateEmployee();" onclick="document.getElementById('employee-photo').value = ''", ng-disabled="updateEmployeeForm.$invalid") Submit
                    button.button.btn-default(type="button", ng-click="vm.cancelUpdateEmployee();") Cancel