
<div ng-if="!vm.selectedEmployee" class="center-block">
  <div class="text-center">
    <div class="icon icon-Leslie fs100 mb30 profile-color"></div>
    <div class="fs20">Please selected an employee to update</div>
  </div>
</div>
<div ng-if="vm.selectedEmployee" class="center-block mw1000">
  <div class="admin-form theme-primary">
    <form name="updateEmployeeForm" novalidate="novalidate">
      <div class="panel heading-border panel-primary">
        <div class="panel-body bg-light">
          <div class="section-divider"><span>Update Employee Profile</span></div>
          <div class="row">
            <div class="col-md-5">
              <div class="section">
                <label class="field">
                  <input name="firstName" type="text" placeholder="First Name" ng-model="vm.selectedEmployee.firstName" required="required" class="gui-input"/>
                </label>
              </div>
            </div>
            <div class="col-md-5">
              <div class="section">
                <label class="field">
                  <input name="lastName" type="text" placeholder="Last Name" ng-model="vm.selectedEmployee.lastName" required="required" class="gui-input"/>
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <label class="field select">
                  <select name="gender" ng-model="vm.selectedEmployee.gender" ng-options="gender.value as gender.text for gender in vm.genderOptions" require="require">
                    <option disabled="disabled" value="">Select Gender</option>
                  </select><i class="arrow"></i>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="section">
                <label class="field prepend-icon file"><span class="button btn-primary">Choose File</span>
                  <input type="file" name="imageFile" ng-model="vm.selectedEmployee.imageFile" ngf-select="ngf-select" ngf-max-size="'300KB'" ngf-pattern="'image/*'" accept="image/*" onchange="document.getElementById('employee-photo').focus(); document.getElementById('employee-photo').value = this.value.replace('C:\\fakepath\\', '')" class="gui-file"/>
                  <input type="text" placeholder="Employee Photo" id="employee-photo" class="gui-input"/>
                  <label class="field-icon"><i class="fa fa-upload"></i></label>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="section">
                <label class="field">
                  <input name="email" type="text" placeholder="Email" ng-model="vm.selectedEmployee.email" required="required" class="gui-input"/>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="section">
                <label class="field">
                  <input name="department" type="text" placeholder="Department" ng-model="vm.selectedEmployee.department" required="required" class="gui-input"/>
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="section">
                <label class="field">
                  <input name="title" type="text" placeholder="Title" ng-model="vm.selectedEmployee.title" required="required" class="gui-input"/>
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="section">
                <label class="field">
                  <input name="team" type="text" placeholder="Team" ng-model="vm.selectedEmployee.team" class="gui-input"/>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="section">
                <label class="field">
                  <input name="phone" type="text" placeholder="Phone" ng-model="vm.selectedEmployee.phone" class="gui-input"/>
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <label class="field">
                  <input name="ext" type="text" placeholder="Ext" ng-model="vm.selectedEmployee.ext" class="gui-input"/>
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="section">
                <label class="field">
                  <input name="team" type="text" placeholder="Location" ng-model="vm.selectedEmployee.location" class="gui-input"/>
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <label class="field select">
                  <select name="floor" ng-model="vm.selectedEmployee.floor" ng-options="desk.floor as desk.floor for desk in vm.desks | unique: 'floor' | orderBy: 'floor'">
                    <option disabled="disabled" value="">Floor</option>
                  </select><i class="arrow"></i>
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="section">
                <label class="field select">
                  <select name="seat" ng-model="vm.selectedEmployee.seat" ng-options="desk.seat as desk.seat for desk in vm.desks | filterBy: ['floor'] : vm.selectedEmployee.floor | orderBy: ['section','seat']">
                    <option disabled="disabled" value="">Seat</option>
                  </select><i class="arrow"></i>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer text-right">
          <button type="button" ng-click="vm.deleteEmployee()" class="button btn-danger pull-left">Delete Employee</button>
          <button type="submit" ng-click="vm.updateEmployee();" onclick="document.getElementById('employee-photo').value = ''" ng-disabled="updateEmployeeForm.$invalid" class="button btn-primary">Submit</button>
          <button type="button" ng-click="vm.cancelUpdateEmployee();" class="button btn-default">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>