.mw1000.center-block
    .admin-form.theme-primary
        form(name="createEventForm", novalidate)
            .panel.heading-border.panel-primary
                .panel-body.bg-light
                    .section-divider
                        span Create New Event
                    .row
                        .col-md-6
                            .section
                                label.field(ng-class="{'state-error': createEventForm.title.$invalid && !createEventForm.title.$pristine}")
                                    input.gui-input(name="title", type="text", placeholder="Title", ng-model="vm.newEvent.title", focus-if="true", focus-delay="1000", required)
                        .col-md-3
                            .section
                                label.field.prepend-icon(moment-picker="vm.newEvent.start", format="LLL" , max-date="vm.newEvent.end")
                                    input.gui-input(id="start", placeholder="Start Date / Time", ng-model="vm.newEvent.start", ng-model-options="{ updateOn: 'blur' }", required)
                                    label.field-icon(for="start")
                                        i.fa.fa-calendar
                        .col-md-3
                            .section
                                label.field.prepend-icon(moment-picker="vm.newEvent.end", format="LLL" , min-date="vm.newEvent.start")
                                    input.gui-input(id="end", placeholder="End Date / Time", ng-model="vm.newEvent.end", ng-model-options="{ updateOn: 'blur' }")
                                    label.field-icon(for="end")
                                        i.fa.fa-calendar
                    .row
                        .col-md-12
                            .section
                                label.field.prepend-icon
                                    textarea.gui-textarea(id="details" name="details" placeholder="Event Details", ng-model="vm.newEvent.details")
                                    label.field-icon(for="details")
                                        i.fa.fa-comments
                    .row
                        .col-md-3
                            .section
                                label.field.select
                                    select(name="location", ng-model="vm.newEvent.location", ng-options="location.value as location.text for location in vm.locationOptions")
                                        option(disabled, value="") Location
                                    i.arrow
                        .col-md-3
                            .section
                                label.field
                                    input.gui-input(name="className", type="text", placeholder="Classification", ng-model="vm.newEvent.className")
                        .col-md-3
                            .section
                                label.field
                                    input.gui-input(name="url", type="text", placeholder="URL for Event", ng-model="vm.newEvent.url")
                        .col-md-3
                            .section
                                label.option.option-primary.mt10
                                    input(type="checkbox", name="allDay", ng-model="vm.newEvent.allDay")
                                    span.checkbox
                                    | All Day Event
                .panel-footer.text-right
                    button.button.btn-primary(type="submit", ng-click="vm.createEvent()",  ng-disabled="createEventForm.$invalid") Submit
                    button.button.btn-default(type="reset") Cancel