
<div class="topbar-left">
  <ul class="nav nav-list nav-list-topbar seniority-topbar">
    <li ui-sref-active-eq="active" class="years-5"><a ui-sref="seniority">Years of Service</a></li>
    <li ui-sref-active-eq="active" class="years-1"><a ui-sref="seniority.yos({yos: '1'})">1+ Years</a></li>
    <li ui-sref-active-eq="active" class="years-2"><a ui-sref="seniority.yos({yos: '2'})">2+ Years</a></li>
    <li ui-sref-active-eq="active" class="years-3"><a ui-sref="seniority.yos({yos: '3'})">3+ Years</a></li>
    <li ui-sref-active-eq="active" class="years-4"><a ui-sref="seniority.yos({yos: '4'})">4+ Years</a></li>
    <li ui-sref-active-eq="active" class="years-5"><a ui-sref="seniority.yos({yos: '5'})">5+ Years</a></li>
  </ul>
</div>