
<div class="topbar-left">
  <ul class="nav nav-list nav-list-topbar">
    <li ui-sref-active-eq="active" class="profile-tab"><a ui-sref="printers">Printer Profiles</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="printers.map">Printer Location</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="printers.map.floor-7">7th Floor</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="printers.map.floor-8">8th Floor</a></li>
  </ul>
</div>