.topbar-left
    ul.nav.nav-list.nav-list-topbar
        li.profile-tab(ui-sref-active-eq="active")
            a(ui-sref="printers") Printer Profiles
        li.location-tab(ui-sref-active="active")
            a(ui-sref="printers.map") Printer Location
        li.location-tab(ui-sref-active="active")
            a(ui-sref="printers.map.buf-6") BUF 6
        li.location-tab(ui-sref-active="active")
            a(ui-sref="printers.map.buf-7") BUF 7
        li.location-tab(ui-sref-active="active")
            a(ui-sref="printers.map.buf-8") BUF 8
        li.location-tab(ui-sref-active="active")
            a(ui-sref="printers.map.nyc-6") NYC