.topbar-left
    ul.nav.nav-list.nav-list-topbar
        li.profile-tab(ui-sref-active-eq="active")
            a(ui-sref="printers") Printer Profiles
        li.location-tab(ui-sref-active="active")
            a(ui-sref="printers.map") Printer Location
        li.location-tab(ui-sref-active="active")
            a(ui-sref="printers.map.floor-7") 7th Floor
        li.location-tab(ui-sref-active="active")
            a(ui-sref="printers.map.floor-8") 8th Floor