
<div class="topbar-left">
  <ul class="nav nav-list nav-list-topbar">
    <li ui-sref-active-eq="active" class="profile-tab"><a ui-sref="printers">Printer Profiles</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="printers.map">Printer Location</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="printers.map.buf-6">BUF Floor 6</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="printers.map.buf-7">BUF Floor 7</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="printers.map.buf-8">BUF Floor 8</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="printers.map.nyc-6">NYC Floor 6</a></li>
  </ul>
</div>