room(id="room-{{seat}}" ng-class="classification" ng-style="{'left': xpos + 'px', 'top': ypos + 'px'}")
    .room
        span
            span.label.bg-primary(ng-click="vm.viewProfile(seat)") {{name}}