
<div ed-nanoscroller="ed-nanoscroller" class="directory-item-selector">
  <div class="directory-item-filter">
    <div class="panel">
      <div class="panel-heading"><span class="panel-icon"><i class="fa fa-building text-primary"></i></span><span class="panel-title text-primary">Search Rooms</span><span ng-if="vm.type || vm.roomName || vm.locations.length &gt; 0 || vm.floors.length &gt; 0" class="panel-controls"><a ng-click="vm.clearFilter()" class="panel-control-remove"></a></span></div>
      <div class="panel-body p10">
        <form name="roomsFilter" class="form-horizontal">
          <div class="form-group mln mrn">
            <div class="pn">
              <input type="text" name="roomName" placeholder="Filter by name" ng-model="vm.roomName" focus-if="true" focus-delay="1000" class="form-control input-sm"/>
            </div>
          </div>
          <div class="form-group mln mrn">
            <div class="pn">
              <div class="bs-component">
                <select name="type" ng-model="vm.type" ng-options="room.type as room.type for room in vm.rooms | unique: 'type' | orderBy: 'type'" class="form-control input-sm">
                  <option value="" selected="selected">Type</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group mln mrn"><span class="control-label pn pull-left">
              <label ng-class="{'text-primary' : vm.locations.length &gt; 0}">Locations</label></span><span class="pn pl15 pull-left">
              <div class="checkbox-custom checkbox-default">
                <input type="checkbox" id="buf" ng-model="vm.location['buf']" ng-change="vm.filterLocations('buf')"/>
                <label for="buf" class="location">BUF</label>
              </div></span><span class="pn pl20 pull-left">
              <div class="checkbox-custom checkbox-default">
                <input type="checkbox" id="nyc" ng-model="vm.location['nyc']" ng-change="vm.filterLocations('nyc')"/>
                <label for="nyc" class="location">NYC</label>
              </div></span></div>
          <div ng-class="{'floors-disabled' : vm.nycOnly()}" class="form-group mln mrn"><span class="control-label pn pull-left">
              <label ng-class="{'text-primary' : vm.floors.length &gt; 0}">BUF Floor</label></span><span class="pn pl15 pull-left">
              <div class="checkbox-custom checkbox-default">
                <input type="checkbox" id="floor6" ng-model="vm.floor['6']" ng-change="vm.filterFloors(6)" ng-disabled="vm.nycOnly()"/>
                <label for="floor6">6</label>
              </div></span><span class="pn pl15 pull-left">
              <div class="checkbox-custom checkbox-default">
                <input type="checkbox" id="floor7" ng-model="vm.floor['7']" ng-change="vm.filterFloors(7)" ng-disabled="vm.nycOnly()"/>
                <label for="floor7">7</label>
              </div></span><span class="pn pl15 pull-left">
              <div class="checkbox-custom checkbox-default">
                <input type="checkbox" id="floor8" ng-model="vm.floor['8']" ng-change="vm.filterFloors(8)" ng-disabled="vm.nycOnly()"/>
                <label for="floor8">8</label>
              </div></span></div>
          <button ng-if="!vm.allowSelectAll" type="submit" ng-click="vm.selectRoom(vm.filteredRooms[0])" ng-disabled="vm.filteredRooms.length !== 1" class="btn btn-xs btn-success pull-right">Select All</button>
          <button ng-if="vm.allowSelectAll" type="submit" ng-click="vm.selectAll()" ng-disabled="!vm.allowSelectAll || vm.displayRoomInfoType !== 'profile'" class="btn btn-xs btn-success pull-right">Select All</button>
          <button type="button" ng-click="vm.selectNone()" ng-disabled="!vm.allowSelectAll || vm.displayRoomInfoType !== 'profile'" class="btn btn-xs btn-warning pull-left">Select None</button>
        </form>
      </div>
    </div>
  </div>
  <h5><span class="fa fa-building-o"></span><span>Select Rooms</span><span ng-if="vm.filteredRooms.length !== vm.rooms.length" class="label label-xs bg-primary">{{vm.filteredRooms.length}}</span></h5>
  <ul class="nav tray-nav tray-nav-border">
    <li ng-if="vm.filteredRooms.length !== vm.rooms.length" ng-repeat="room in (vm.filteredRooms = (vm.rooms | orderBy: ['name'] | filter: (vm.type || undefined) | filterBy: ['name'] : vm.roomName | filter: vm.locationFilter | filter: vm.floorFilter))" ng-class="{'active': room.selected, 'mapped': room.mapped}" class="directory-item"><a ng-click="vm.selectRoom(room)"><span>{{::room.name}}</span></a></li>
  </ul>
</div>