
<div class="topbar-left">
  <ul class="nav nav-list nav-list-topbar">
    <li ui-sref-active="active" class="profile-tab"><a ui-sref="rooms.profile">Room Profiles</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="rooms.map">Room Location</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="rooms.map.buf-6">BUF 6</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="rooms.map.buf-7">BUF 7</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="rooms.map.buf-8">BUF 8</a></li>
    <li ui-sref-active="active" class="location-tab"><a ui-sref="rooms.map.nyc-6">NYC</a></li>
  </ul>
</div>