
<div ng-if="vm.selectedEmployees.length &lt; 1" class="center-block mt70">
  <div class="text-center">
    <div class="icon icon-Leslie fs100 mb30 profile-color"></div>
    <div class="fs20">Select some people to view their profile</div>
  </div>
</div>
<div vertilize-container="vertilize-container" class="row">
  <div dir-paginate="employee in vm.selectedEmployees | itemsPerPage: 12 track by employee.eid" current-page="vm.currentPage" vertilize="vertilize" page="profile" class="col-lg-6 col-xl-4 directory-item-card">
    <ed-employee-card employee="employee"></ed-employee-card>
  </div>
</div>
<dir-pagination-controls on-page-change="vm.changePage(newPageNumber)" class="center-block text-center"></dir-pagination-controls>