.sidebar-label Admin Options
ul
    li
        a(ui-sref="admin.users") User Admin
    li
        a(ui-sref="admin.create-user") Create User
    li
        a(ui-sref="admin.update-user") Update User
    li
        a(ui-sref="admin.update-employee") Update Employees