
<header id="topbar" class="ph10">
  <div class="topbar-left">
    <ul class="nav nav-list nav-list-topbar">
      <li ui-sref-active-eq="active" class="profile-tab"><a ui-sref="main">Employee Profiles</a></li>
      <li ui-sref-active="active" class="location-tab"><a ui-sref="main.seat-map">Employee Location</a></li>
      <li ui-sref-active="active" ng-if="vm.identity.isAuthorized('admin')" class="create-employee-tab"><a ui-sref="admin.create-employee">Create Employee</a></li>
      <li ui-sref-active="active" ng-if="vm.identity.isAuthorized('admin')" class="update-employee-tab"><a ui-sref="admin.update-employee">Update Employee</a></li>
    </ul>
  </div>
</header>