.sidebar-label Select Employees
ul.employee-selector
    li.employee(ng-repeat="employee in vm.employees | orderBy: 'name.lastName'" ng-class="{'selected': employee.selected}")
        a(ng-click="vm.selectEmployee(employee)")
            i.fa(class="fa-{{employee.gender}}")
            span {{employee.name.lastName}}, {{employee.name.firstName}}