.panel
    .panel-heading
        span.panel-icon.mr10
            i.icon.icon-Leslie
        span.panel-title Employee Profile
        span.panel-controls
            a.panel-control-map-marker(ng-click="vm.mapEmployee(employee)")
            a.panel-control-title(ng-click="vm.editEmployee(employee)", ng-if="vm.identity.isAuthorized('admin')")
            a.panel-control-remove(ng-click="vm.deselectEmployee(employee)")
    .panel-body.pn
        .row.table-layout
            .col-xs-4.text-center.va-t.of-h
                img.employee-photo.mt10.mb10(ng-src="/images/employee-photos/{{::employee.image}}", ng-if="employee.image")
                span(class="fa fa-{{::employee.gender}} fs100 mt20", ng-if="!employee.image")
            .col-xs-8.br-l.pn.admin-form
                table.table.mbn
                    tbody
                        tr
                            td.va-m.fw600 {{::employee.firstName}} {{::employee.lastName}}
                        tr
                            td.va-m.fw600.text-muted {{::employee.title}}
                        tr
                            td.va-m.fw600.text-muted {{::employee.department}}
                        tr(ng-if="employee.team")
                            td.va-m.fw600.text-muted
                                span.fa.fa-group.mr10
                                | {{::employee.team}}
                        tr(ng-if="employee.email")
                            td.va-m.fw600.text-muted
                                span.fa.fa-envelope.mr10
                                | {{::employee.email}}
                        tr(ng-if="employee.ext")
                            td.va-m.fw600.text-muted
                                span.fa.fa-phone.mr10
                                | Internal: x{{::employee.ext}}
                        tr(ng-if="employee.phone")
                            td.va-m.fw600.text-muted
                                span.fa.fa-phone.mr10
                                | Desk: {{::employee.phone}}
                        tr(ng-if="employee.location")
                            td.va-m.fw600.text-muted.cursor(ng-click="vm.mapEmployee(employee)", ng-if="employee.seat")
                                span.fa.fa-map-marker.fs15.mr10
                                | {{::employee.location}} / Floor: {{::employee.floor}} / Seat: {{::employee.seat}}
                            td.va-m.fw600.text-muted(ng-if="!employee.seat")
                                span.fa.fa-map-marker.fs15.mr10
                                | {{::employee.location}}