.panel.employee-card
    .panel-heading
        span.panel-icon
            i.fa.fa-user
        span.panel-title {{employee.name.firstName}} {{employee.name.lastName}}
        span.panel-controls
            a.panel-control-remove(ng-click="vm.deselectEmployee(employee)")
    .panel-body
        img.employee-photo(src="/images/employee-photos/{{employee.image}}", ng-if="employee.image")
        div(ng-click="vm.mapEmployee(employee)") {{employee.deskLoc.pos}}
