ul.nav.sidebar-menu.employee-selector
    li.sidebar-label.pt10.pb10 Select Employees
    li(ng-repeat="employee in vm.employees | orderBy: ['name.lastName', 'name.firstName']", ng-class="{'active': employee.selected}")
        a(href="javascript:void(0);", ng-click="vm.selectEmployee(employee)")
            span.fa(class="fa-{{employee.gender}}")
            span {{employee.name.lastName}}, {{employee.name.firstName}}