
<div ng-class="{'open': vm.filterOpen}" class="employee-selector">
  <div class="employee-filter">
    <div class="panel">
      <div class="panel-heading"><span class="panel-icon"><i class="fa fa-filter text-primary"></i></span><span class="panel-title">Employees Filter</span><span class="panel-controls"><a ng-click="vm.filterOpen = !vm.filterOpen" class="panel-control-remove"></a></span></div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-md-3">
              <label>Floors</label>
            </div>
            <div class="col-md-3">
              <div class="checkbox-custom checkbox-primary">
                <input type="checkbox" id="floor6" ng-model="vm.floor['6']" ng-change="vm.filterFloors(6)"/>
                <label for="floor6">6</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="checkbox-custom checkbox-primary">
                <input type="checkbox" id="floor7" ng-model="vm.floor['7']" ng-change="vm.filterFloors(7)"/>
                <label for="floor7">7</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="checkbox-custom checkbox-primary">
                <input type="checkbox" id="floor8" ng-model="vm.floor['8']" ng-change="vm.filterFloors(8)"/>
                <label for="floor8">8</label>
              </div>
            </div>
            <!--.col-md-3
            .radio-custom
                input(type="radio", id="floor6", name="floor", value="6", ng-model="vm.floor")
                label(for="floor6") 6
            -->
            <!--.col-md-3
            .radio-custom
                input(type="radio" id="floor7", name="floor", value="7", ng-model="vm.floor")
                label(for="floor7") 7
            -->
            <!--.col-md-3
            .radio-custom
                input(type="radio" id="floor8", name="floor", value="8", ng-model="vm.floor")
                label(for="floor8") 8
            -->
          </div>
          <!--.form-group
          label.col-xs-6.control-label(for="floor") Floor
          .col-xs-6
              select.form-control(name="floor", ng-model="vm.floor", ng-options="floor as floor for floor in [6,7,8]")
                  option(value="", selected) All
          -->
        </form>
      </div>
    </div><i ng-click="vm.filterOpen = !vm.filterOpen" class="toggle fa fa-filter"></i>
  </div>
  <ul class="nav sidebar-menu">
    <li class="sidebar-label pt10 pb10">Select Employees</li>
    <li ng-repeat="employee in vm.employees | orderBy: ['name.lastName', 'name.firstName'] | filter: vm.floorFilter" ng-class="{'active': employee.selected}"><a href="javascript:void(0);" ng-click="vm.selectEmployee(employee)"><span class="fa fa-{{employee.gender}}"></span><span>{{employee.name.lastName}}, {{employee.name.firstName}}</span></a></li>
  </ul>
</div>