room(id="room-{{location}}" ng-class="classification" ng-style="{'left': xpos + 'px', 'top': ypos + 'px'}")
    .room
        span
            span.label.bg-primary {{name}}
            br(ng-if="number")
            span.badge(ng-if="number") {{number}}