
<div class="topbar-left">
  <ul class="nav nav-list nav-list-topbar">
    <li ui-sref-active-eq="active"><a ui-sref="committees">Committees</a></li>
    <li ui-sref-active="active"><a ui-sref="committees.fun-games">Fun &amp; Games</a></li>
    <li ui-sref-active="active"><a ui-sref="committees.diversity">Diversity</a></li>
    <li ui-sref-active="active"><a ui-sref="committees.wellness">Wellness</a></li>
    <li ui-sref-active="active"><a ui-sref="committees.beautification">Beautification</a></li>
  </ul>
</div>