.topbar-left
    ul.nav.nav-list.nav-list-topbar
        li(ui-sref-active-eq="active")
            a(ui-sref="committees") Committees
        li(ui-sref-active="active")
            a(ui-sref="committees.fun-games") Fun &amp; Games
        li(ui-sref-active="active")
            a(ui-sref="committees.diversity") Diversity
        li(ui-sref-active="active")
            a(ui-sref="committees.wellness") Wellness
        li(ui-sref-active="active")
            a(ui-sref="committees.beautification") Beautification