
<div ng-if="!vm.committee.name" class="center-block mw500">
  <div class="text-center mb30"><img src="/images/committee-icons/committees.png" class="mb20"/>
    <div class="fs20">Liazon Committees</div>
  </div>
  <p>Committees are fantastic!!!  Get on one!</p>
</div>
<div ng-if="vm.committee.name" class="center-block committee">
  <div class="text-center committee-header mb30"><img ng-src="/images/committee-icons/{{::vm.committee.name}}-lg.png" class="mb20"/>
    <div class="fs20"><span>{{::vm.committee.text}} Committee</span></div>
  </div>
  <p ng-if="vm.committee.name === 'fun-games'">The Fun &amp; Games committee is dedicated to creating fun and interesting activities and events for everyone in the office to participate in. Examples: bubble hockey tournament, summer picnic, fantasy sports leagues, discount programs at local businesses etc.</p>
  <p ng-if="vm.committee.name === 'diversity'">The Cultural Diversity and Community Outreach committee is dedicated to working on engaging the workforce in cultural diversity awareness. Identifying Cultural community events, working on ethnic heritage months etc.</p>
  <p ng-if="vm.committee.name === 'wellness'">The Wellness committee is dedicated to creating programs that will make healthy choices easier. Examples: bike sharing program, biggest loser contest, destination walking program, healthy cookbook.</p>
  <p ng-if="vm.committee.name === 'beautification'">The Beautification committee is dedicated to working on the beautification of the inside and the outside of the new office! Examples: naming of the conference rooms, plants, flowers, artwork throughout the office etc.</p>
  <h4 class="text-center">Members</h4>
  <ul vertilize-container="vertilize-container" class="text-center committee-members">
    <li ng-repeat="member in vm.committeeMembers" ng-click="vm.profileEmployee(member)" vertilize="vertilize" page="org-chart"><img ng-src="/images/employee-photos/{{member.image}}" ng-show="member.image"/><span ng-hide="member.image" class="fa fa-user fs70"></span>
      <h5>{{member.displayName}}</h5>
      <h6>{{member.title}}</h6>
    </li>
  </ul>
</div>