doctype
html
    head
        title Liazon Directory
        meta(name="viewport", content="width=device-width,user-scalable=no")
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/bower_components/toastr/toastr.css")
        link(rel="stylesheet", href="/bower_components/fontawesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="/bower_components/icomoon-bower/dist/css/style.css")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600")
        include cssMin
        base(href="/")

    body(ng-app="app")
        include currentUser
        block main-content
        include scriptsMin
