doctype
html
  head
    title Employee Directory
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/bower_components/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
    link(rel="stylesheet", href="/css/map-marker.css")
    link(rel="stylesheet", href="/css/layout.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lobster")
    base(href="/")

  body(ng-app="app")
    block main-content
    include scripts