script(type="text/javascript", src="/bower_components/jquery/dist/jquery.js")
script(type="text/javascript", src="/bower_components/toastr/toastr.js")
script(type="text/javascript", src="/bower_components/angular/angular.js")
script(type="text/javascript", src="/bower_components/angular-resource/angular-resource.js")
script(type="text/javascript", src="/bower_components/angular-ui-router/release/angular-ui-router.js")
script(type="text/javascript", src="/bower_components/angular-animate/angular-animate.js")
script(type="text/javascript", src="/bower_components/ng-file-upload/ng-file-upload.js")
script(type="text/javascript", src="/bower_components/angular-filter/dist/angular-filter.js")
script(type="text/javascript", src="/bower_components/angular-scroll/angular-scroll.js")
script(type="text/javascript", src="/bower_components/angular-vertilize/angular-vertilize.js")
script(type="text/javascript", src="/bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.js")
script(type="text/javascript", src="/bower_components/angularUtils-pagination/dirPagination.js")

script(type="text/javascript", src="/app/app.module.js")
script(type="text/javascript", src="/app/app.routes.js")
script(type="text/javascript", src="/app/app.run.js")

script(type="text/javascript", src="/app/common/services/notifier.service.js")
script(type="text/javascript", src="/app/common/filters/custom-filters.js")
script(type="text/javascript", src="/app/common/views/floor.controller.js")
script(type="text/javascript", src="/app/common/components/sidebar-left.directive.js")
script(type="text/javascript", src="/app/common/components/nanoscroller.directive.js")

script(type="text/javascript", src="/app/employees/services/employee.service.js")
script(type="text/javascript", src="/app/employees/services/employee-resource.service.js")
script(type="text/javascript", src="/app/employees/services/cached-employee-resource.service.js")
script(type="text/javascript", src="/app/employees/services/desk.service.js")
script(type="text/javascript", src="/app/employees/services/desk-resource.service.js")
script(type="text/javascript", src="/app/employees/services/cached-desk-resource.service.js")
script(type="text/javascript", src="/app/employees/views/profile/employee-profile.controller.js")
script(type="text/javascript", src="/app/employees/views/map/employee-map.controller.js")
script(type="text/javascript", src="/app/employees/components/employee-selector.controller.js")
script(type="text/javascript", src="/app/employees/components/employee-topbar.controller.js")
script(type="text/javascript", src="/app/employees/components/desk.directive.js")
script(type="text/javascript", src="/app/employees/components/employee-card.directive.js")

script(type="text/javascript", src="/app/printers/services/printer.service.js")
script(type="text/javascript", src="/app/printers/services/printer-resource.service.js")
script(type="text/javascript", src="/app/printers/services/cached-printer-resource.service.js")
script(type="text/javascript", src="/app/printers/views/profile/printer-profile.controller.js")
script(type="text/javascript", src="/app/printers/views/map/printer-map.controller.js")
script(type="text/javascript", src="/app/printers/components/printer-selector.controller.js")
script(type="text/javascript", src="/app/printers/components/printer-topbar.controller.js")
script(type="text/javascript", src="/app/printers/components/printer.directive.js")
script(type="text/javascript", src="/app/printers/components/printer-card.directive.js")

script(type="text/javascript", src="/app/components/admin-menu.controller.js")
script(type="text/javascript", src="/app/services/room.service.js")
script(type="text/javascript", src="/app/components/room.directive.js")
script(type="text/javascript", src="/app/account/identity.service.js")
script(type="text/javascript", src="/app/account/login.controller.js")
script(type="text/javascript", src="/app/account/auth.service.js")
script(type="text/javascript", src="/app/account/user-resource.service.js")
script(type="text/javascript", src="/app/admin/user-list.controller.js")
script(type="text/javascript", src="/app/admin/create-user.controller.js")
script(type="text/javascript", src="/app/admin/update-user.controller.js")
script(type="text/javascript", src="/app/admin/create-employee.controller.js")
script(type="text/javascript", src="/app/admin/update-employee.controller.js")
script(type="text/javascript", src="/app/services/room-resource.service.js")
script(type="text/javascript", src="/app/services/cached-room-resource.service.js")