script(type="text/javascript", src="/bower_components/jquery/dist/jquery.min.js")
script(type="text/javascript", src="/bower_components/toastr/toastr.min.js")
script(type="text/javascript", src="/bower_components/angular/angular.min.js")
script(type="text/javascript", src="/bower_components/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")
script(type="text/javascript", src="/bower_components/angular-animate/angular-animate.min.js")
script(type="text/javascript", src="/bower_components/ng-file-upload/ng-file-upload.min.js")
script(type="text/javascript", src="/bower_components/angular-filter/dist/angular-filter.min.js")
script(type="text/javascript", src="/bower_components/angular-scroll/angular-scroll.min.js")
script(type="text/javascript", src="/bower_components/angular-vertilize/angular-vertilize.js")
script(type="text/javascript", src="/bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.min.js")
script(type="text/javascript", src="/bower_components/angularUtils-pagination/dirPagination.js")
script(type="text/javascript", src="/bower_components/lodash/lodash.min.js")
script(type="text/javascript", src="/bower_components/ng-focus-if/focusIf.min.js")

script(type="text/javascript", src="/app/app.module.js")
script(type="text/javascript", src="/app/app.routes.js")
script(type="text/javascript", src="/app/app.run.js")

script(type="text/javascript", src="/app/common/services/identity.service.js")
script(type="text/javascript", src="/app/common/services/notifier.service.js")
script(type="text/javascript", src="/app/common/services/sidebar.service.js")
script(type="text/javascript", src="/app/common/filters/custom-filters.js")
script(type="text/javascript", src="/app/common/views/floor.controller.js")
script(type="text/javascript", src="/app/common/components/sidebar-left.directive.js")
script(type="text/javascript", src="/app/common/components/footer.directive.js")
script(type="text/javascript", src="/app/common/utilities/nanoscroller.directive.js")

script(type="text/javascript", src="/app/employees/services/employee.service.js")
script(type="text/javascript", src="/app/employees/services/employee-resource.service.js")
script(type="text/javascript", src="/app/employees/services/cached-employee-resource.service.js")
script(type="text/javascript", src="/app/employees/services/desk.service.js")
script(type="text/javascript", src="/app/employees/services/desk-resource.service.js")
script(type="text/javascript", src="/app/employees/services/cached-desk-resource.service.js")
script(type="text/javascript", src="/app/employees/views/profile/employee-profile.controller.js")
script(type="text/javascript", src="/app/employees/views/map/employee-map.controller.js")
script(type="text/javascript", src="/app/employees/views/org-chart/org-chart.controller.js")
script(type="text/javascript", src="/app/employees/components/employee-selector.controller.js")
script(type="text/javascript", src="/app/employees/components/employee-topbar.controller.js")
script(type="text/javascript", src="/app/employees/components/desk.directive.js")
script(type="text/javascript", src="/app/employees/components/employee-card.directive.js")

script(type="text/javascript", src="/app/rooms/services/room.service.js")
script(type="text/javascript", src="/app/rooms/services/room-resource.service.js")
script(type="text/javascript", src="/app/rooms/services/cached-room-resource.service.js")
script(type="text/javascript", src="/app/rooms/views/profile/room-profile.controller.js")
script(type="text/javascript", src="/app/rooms/views/map/room-map.controller.js")
script(type="text/javascript", src="/app/rooms/components/room-selector.controller.js")
script(type="text/javascript", src="/app/rooms/components/room-topbar.controller.js")
script(type="text/javascript", src="/app/rooms/components/room.directive.js")
script(type="text/javascript", src="/app/rooms/components/room-card.directive.js")

script(type="text/javascript", src="/app/printers/services/printer.service.js")
script(type="text/javascript", src="/app/printers/services/printer-resource.service.js")
script(type="text/javascript", src="/app/printers/services/cached-printer-resource.service.js")
script(type="text/javascript", src="/app/printers/views/profile/printer-profile.controller.js")
script(type="text/javascript", src="/app/printers/views/map/printer-map.controller.js")
script(type="text/javascript", src="/app/printers/components/printer-selector.controller.js")
script(type="text/javascript", src="/app/printers/components/printer-topbar.controller.js")
script(type="text/javascript", src="/app/printers/components/printer.directive.js")
script(type="text/javascript", src="/app/printers/components/printer-card.directive.js")

script(type="text/javascript", src="/app/admin/services/user-resource.service.js")
script(type="text/javascript", src="/app/admin/services/auth.service.js")
script(type="text/javascript", src="/app/admin/services/employee-admin.service.js")
script(type="text/javascript", src="/app/admin/views/login.controller.js")
script(type="text/javascript", src="/app/admin/views/user-list.controller.js")
script(type="text/javascript", src="/app/admin/views/create-user.controller.js")
script(type="text/javascript", src="/app/admin/views/update-user.controller.js")
script(type="text/javascript", src="/app/admin/views/create-employee.controller.js")
script(type="text/javascript", src="/app/admin/views/update-employee.controller.js")
script(type="text/javascript", src="/app/admin/views/seat-picker.controller.js")
script(type="text/javascript", src="/app/admin/views/seat-picker-floor.controller.js")
script(type="text/javascript", src="/app/admin/components/admin-topbar.controller.js")
script(type="text/javascript", src="/app/admin/components/seat-picker-topbar.controller.js")
script(type="text/javascript", src="/app/admin/components/seat-picker-desk.directive.js")

script(type="text/javascript", src="/app/guilds/views/guilds.controller.js")
script(type="text/javascript", src="/app/guilds/components/guilds-topbar.controller.js")

script(type="text/javascript", src="/app/help/views/help.controller.js")
script(type="text/javascript", src="/app/help/views/navigation/help-navigation.controller.js")
script(type="text/javascript", src="/app/help/views/profile/help-profile.controller.js")
script(type="text/javascript", src="/app/help/views/location/help-location.controller.js")
script(type="text/javascript", src="/app/help/views/org-chart/help-org-chart.controller.js")
script(type="text/javascript", src="/app/help/components/help-topbar.controller.js")