script(type="text/javascript", src="/bower_components/jquery/dist/jquery.js")
script(type="text/javascript", src="/bower_components/toastr/toastr.js")
script(type="text/javascript", src="/bower_components/angular/angular.js")
script(type="text/javascript", src="/bower_components/angular-resource/angular-resource.js")
script(type="text/javascript", src="/bower_components/angular-route/angular-route.js")
script(type="text/javascript", src="/app/app.module.js")
script(type="text/javascript", src="/app/app.config.js")
script(type="text/javascript", src="/app/main/main.controller.js")
script(type="text/javascript", src="/app/seat-map/seat-map.controller.js")
script(type="text/javascript", src="/app/components/employee-selector.controller.js")
script(type="text/javascript", src="/app/account/login.controller.js")
script(type="text/javascript", src="/app/services/employee.service.js")
script(type="text/javascript", src="/app/services/desk.service.js")
script(type="text/javascript", src="/app/components/desk.directive.js")
script(type="text/javascript", src="/app/components/employee-card.directive.js")
script(type="text/javascript", src="/app/account/identity.service.js")
script(type="text/javascript", src="/app/common/notifier.service.js")
script(type="text/javascript", src="/app/account/auth.service.js")
script(type="text/javascript", src="/app/account/user.resource.service.js")
