
<div ng-class="{'show-seat-numbers': vm.showSeatNumbers}" class="switch switch-primary round switch-inline toggle-show-seat-numbers-swicth">
  <input id="toggle-show-seat-numbers" type="checkbox" ng-model="vm.showSeatNumbers"/>
  <label for="toggle-show-seat-numbers"></label>
</div>
<floor ng-if="vm.floor" class="{{vm.location}}-{{vm.floor}}"><span class="floor-label"><span class="label bg-primary fs20">{{vm.locationName}} Floor {{vm.floor}}</span></span>
  <ed-artifact ng-repeat="artifact in vm.artifacts" name="{{artifact.name}}" orientation="{{artifact.orientation}}" classification="{{artifact.classification}}" xpos="{{artifact.xpos}}" ypos="{{artifact.ypos}}"></ed-artifact>
  <ed-desk ng-repeat="desk in vm.desks" location="{{desk.location}}" seat="{{desk.seat}}" orientation="{{desk.orientation}}" classification="{{desk.classification}}" xpos="{{desk.xpos}}" ypos="{{desk.ypos}}"></ed-desk>
  <ed-room ng-repeat="room in vm.rooms" name="{{room.name}}" seat="{{room.seat}}" number="{{room.number}}" classification="{{room.classification}}" xpos="{{room.xpos}}" ypos="{{room.ypos}}"></ed-room>
  <ed-printer ng-repeat="printer in vm.printers" name="{{printer.name}}" orientation="{{printer.orientation}}" classification="{{printer.classification}}" xpos="{{printer.xpos}}" ypos="{{printer.ypos}}"></ed-printer>
</floor>