.row
    .col-md-4
        a.boxed-link.text-center(ui-sref="employees")
            .fa.fa-users.fs100.mb30.profile-color
            h4 Employees
    .col-md-4
        a.boxed-link.text-center(ui-sref="rooms")
            .fa.fa-building-o.fs100.mb30.profile-color
            h4 Rooms
    .col-md-4
        a.boxed-link.text-center(ui-sref="printers")
            .icon-print.fs100.mb30.profile-color
            h4 Printers