div.mw1000.center-block
    div.panel.br-t.bw5.br-grey
        div.panel-body.pn
            div.p25.br-b
                h2.fw200.mb20.mt10 Navigating the Liazon Directory
            div.p25.bg-light
                p There are 3 different navigation areas in the directory:
                h3
                    i.fa.fa-arrow-circle-up.text-primary.fa-lg.pr10
                    | Top Navigation
                p The top navigation contains section specific items for moving around the current section.
                hr.short.alt
                h3
                    i.fa.fa-arrow-circle-left.text-primary.fa-lg.pr10
                    | Left Navigation
                p The left navigation contains site-wide items for moving between and within sections.
                div.well
                    ul.fs14.list-unstyled.list-spacing-10.fa-icon-list.mbn
                        li.mb20
                            i.fa.fa-bars
                            span expands / collapses the left navigation
                        li
                            i.fa.fa-users
                            span navigates to the employee profile section
                        li
                            i.fa.fa-map-marker
                            span navigates to the employee location section
                        li.mb20
                            i.fa.fa-sitemap
                            span navigates to the employee organization chart
                        li
                            i.fa.fa-building-o
                            span navigates to the room profile section
                        li.mb20
                            i.fa.fa-map-marker
                            span navigates to the room location section
                        li
                            i.icon-print
                            span navigates to the printer profile section
                        li
                            i.fa.fa-map-marker
                            span navigates to the printer location section
                hr.short.alt
                h3
                    i.fa.fa-arrow-circle-down.text-primary.fa-lg.pr10
                    | Bottom Navigation
                p The bottom navigation contains miscellaneous items like the help link.