.mw1000.center-block(ng-if="vm.selectedEmployees.length < 1")
    .panel.panel-primary
        .panel-body.text-center
            .fa.fa-user.fs100.mb30
            div.fs20 Select some people to view their profile
.row
    div.col-lg-6.employee-card(ng-repeat="employee in vm.selectedEmployees")
        ed-employee-card(employee="employee")