.center-block(ng-if="vm.selectedEmployees.length < 1")
    .panel.panel-primary
        .panel-body.text-center
            .icon.icon-Leslie.fs100.mb30.profile-color
            div.fs20 Select some people to view their profile
.row(vertilize-container)
    div.col-lg-6.col-xl-4.employee-card(ng-repeat="employee in vm.selectedEmployees track by employee._id" vertilize)
        ed-employee-card(employee="employee")